[2019-05-05 13:28] jitendra1607 opened #1 "event badge not expands to dates in case of event timespan is more than one day."
event badge not expands to dates in case of event timespan is more than one day.Suppose a event starts 02-05-2019 and ends 04-05-2019, then event badge should expand to three date cells in calendar.

[2019-05-05 21:01] hawkeye64 commented on #1
Have you looked at the q-calendar example code? It has a multi-day event that you can even drag and drop. Also, events are a dev land issue. QCalendar doesn't deal with events but allows the dev to manage them. On May 5, 2019 2:28 p.m., jitendra1607 <notifications@github.com> wrote:event badge not expands to dates in case of event timespan is more than one day.Suppose a event starts 02-05-2019 and

[2019-05-06 07:37] hawkeye64 commented on #1
Also, this is in the wrong repo issue. You can post issues to the QCalendar repo @ https://github.com/quasarframework/app-extension-qcalendar

[2019-05-08 11:53] mstaack opened #2 "Layout broken on "Day Start" toggle"
toggling "Week starts on Monday" breaks the calendar layout
as in my screenshot using chrome on macos

![Bildschirmfoto 2019-05-08 um 13 44 14](https://user-images.githubusercontent.com/10169509/57373438-a0e76e00-7198-11e9-9238-6107f71dc3c3.png)

[2019-05-11 05:52] hawkeye64 commented on #2
Thanks for raisung this issue. I'd have to see what options you are using. Can you give me more details? In the demo, I went to Month view, then selected "Weel starts on Monday" and appears to be fine.
![image](https://user-images.githubusercontent.com/10262924/57565648-3feab080-73b9-11e9-8e6f-20fac2cdb0ec.png)

[2019-05-11 07:10] mstaack commented on #2
hmm, cant reproduce on my macbook screen. might be only with external/wider monitor/screen.
will get back to when i can ;)

thanks for this dope extension!

[2019-05-11 15:23] hawkeye64 commented on #2
I don't know why it did that. The bottom row is missing a row. Would be nice to get reproducible steps.

[2019-05-11 16:24] #1 closed

[2019-05-13 22:00] eduardodgarciac commented on #2
The problem occurs when the first day of the month is Saturday. But not in all cases. I dont know why but hope it helps you to figure it out.

For example:

With error
Sep 2019
Jul 2018
Apr 2018

With no error
Jun 2019
Dic 2018
Sep 2018

[2019-05-14 11:21] realtimeappsolutions opened #3 "Day View - missing labels at end of day"
I was playing with the demo, and set the "Interval Range (daily)" to be 06:45 to 19:30.

With the "Interval Step" set to 15min, all the labels display correctly each hour terminating at 7:00pm

With the "Interval Step" set to 30min, all the labels display correctly each hour  .... BUT ... they terminate at 6:00pm ... so the 7:00pm label is not there

With the "Interval Step" set to 60min, all the

[2019-05-14 15:19] digiproductmarketer commented on #3
Sorry sent the above message from the wrong Github account

[2019-05-15 05:22] hawkeye64 commented on #3
So, I have tried to reproduce what you are describing (not sure if I got it right), but I get the mentioned missing times.
Here is an image of the last one (after completing all the steps.
![image](https://user-images.githubusercontent.com/10262924/57750363-ded51c80-76d9-11e9-858a-4364a2f418b9.png)

[2019-05-15 05:24] hawkeye64 commented on #3
The Calendar interval labels can never show the first and last item because of the way the negative margins work.

[2019-05-16 11:23] nothingismagick opened #4 "API json seems to be from a different extension"
https://github.com/quasarframework/app-extension-qcalendar/blob/dev/src/component/QCalendar.json

[2019-05-16 14:20] hawkeye64 commented on #4
Oh, it is, just copied over. I haven't even started on the JSON api yet

[2019-05-16 14:22] hawkeye64 commented on #2
I'll be looking into this once I get back off of vacation.

[2019-05-16 18:59] KolbeinNL opened #5 "UnhandledPromiseRejectionWarning"
after adding calendar with quasar ext add @quasar/qcalendar

I recieve

(node:2587) UnhandledPromiseRejectionWarning:   TypeError:
[@quasar]/quasar-app-extension-qcalendar/src/index.js:26:7

when doing quasar dev

[2019-05-19 10:38] hawkeye64 commented on #5
@KolbeinNL Can you run `quasar info` and post the results? Thanks.

[2019-05-20 17:50] m0dch3n opened #6 "Demo not working"
Currently the demo under https://quasarframework.github.io/app-extension-qcalendar/#/ isn't working because of wrong js files

`GET https://quasarframework.github.io/js/app.40b76b92.js net::ERR_ABORTED 404`

[2019-05-20 20:35] hawkeye64 commented on #6
Thanks. I am working on it. Almost there.

[2019-05-20 20:36] hawkeye64 commented on #6
I changed from vue router using hash mode, to history mode so I can get anchor links to work. This caused issues with Github because of the url path is longer than the domain.

[2019-05-20 20:38] hawkeye64 commented on #6
k, it's working now. That was a WOAD (Waste of a day)

[2019-05-20 20:38] #6 closed

[2019-05-20 21:54] ReynerHL opened #7 "Issue with Safari"
I was playing with the Demo using Safari and I noticed that:

1. In the "View month", if we click on the "Visit mom" event, after the Event modal displays, it is missing the "End time" data (in chrome it shows "18:30").
2. Once we tried to edit the event on Safari, both "Event start date" field and "Event start date" field (the second one should be named "Event end date" I guess), do not show any

[2019-05-21 12:59] hawkeye64 commented on #7
Yeah, that's really weird. I don't have a Mac so I won't be able to test on Safari. But, I do plan on revisiting the events in the near future as I write out more examples.

[2019-05-23 19:07] hawkeye64 commented on #7
And, you do realize events are in devland and have very little to do with the calendar itself? It supports devs that want to do events, but does not manage them itself.

[2019-05-23 19:08] hawkeye64 commented on #5
You really need to give me more information than this.

[2019-05-27 16:09] hawkeye64 commented on #5
Sorry, I have to close this. If you feel there is still an issue, feel free to re-open and give more details. Thanks.

[2019-05-27 16:09] #5 closed

[2019-06-01 19:44] hawkeye64 opened #8 "[BUG] Workweeks display is off"
![image](https://user-images.githubusercontent.com/10262924/58752872-69a46e00-8473-11e9-9918-d1aabdaf3476.png)

[2019-06-03 19:54] hawkeye64 commented on #8
Fixed in Alpha.9

[2019-06-03 19:54] #8 closed

[2019-06-04 14:39] codenamezjames opened #9 "Missing day in month view"
Steps
1. Go To the demo https://quasarframework.github.io/app-extension-qcalendar/demo
2. Change to month view
3. Go to September 2019

The bottom row is only 6 days long

<img width="1677" alt="image" src="https://user-images.githubusercontent.com/2415359/58888040-b925ac80-86b4-11e9-86b5-06dccfadd15f.png">

[2019-06-05 13:40] hawkeye64 commented on #9
Duplicate #2
I'll look into this today

[2019-06-05 15:20] codenamezjames commented on #9
Apologies, the name didn't seem to have the same issue. I can close this one in favor of the other

[2019-06-05 15:20] #9 closed

[2019-06-05 15:37] hawkeye64 commented on #2
Fixed in alpha.10

[2019-06-05 15:37] #2 closed

[2019-06-05 15:47] hawkeye64 opened #10 "[BUG] Extra week displayed when 1st day of month is 1st day of week"
![image](https://user-images.githubusercontent.com/10262924/58970552-e8045700-8776-11e9-860e-5cadd9a96ca2.png)

[2019-06-05 19:11] hawkeye64 commented on #10
Fixed in alpha.11

[2019-06-05 19:11] #10 closed

[2019-06-06 12:40] hawkeye64 commented on #3
@digiproductmarketer Is this what you meant or is it something else, in which case I am going to need an image. Thanks.

[2019-06-06 13:27] digiproductmarketer commented on #3
yes, that's what I meant ... because ... if the Daily Interval ends at 19:30 ....  there should be some display AFTER 7:00pm, so therefore I would expect to see a 7:00pm line and some further period ...

[2019-06-06 14:46] hawkeye64 opened #11 "feat: Calendar should expand to fit parent container height (month view)"
In "month" view, if the parent container height is taller than the calendar, the calendar should fit the height. This only works properly if `day-height` is set to 0.

[2019-06-06 15:05] hawkeye64 commented on #11
Added in beta.12

[2019-06-06 17:40] hawkeye64 commented on #3
Physically, the way it is done, that's impossible. The time is put into the next div element and bumped up using a negative margin. Since there is no div element, this just can't be done. Similar, for the top, only the bottom of the text would be visible (the top portion being truncated) and it'd look bad.

Understood?

Can we close this?

[2019-06-06 19:09] digiproductmarketer commented on #3
Sorry, but no, I don't understand.

I mean, I undertsand what you are saying about the label of the last div not being displayed because of negative margin ... but isn't the problem really that the 7:00pm is not being displayed being caused because the actual display doesn't extend to at least the end of the day interval range.

It seems to me that the display stops at 7:00pm ... but the day inter

[2019-06-07 02:19] hawkeye64 commented on #3
Ah, right, but the labels only do the top-of-the-hour, so 7:30 isn't even available
Maybe what you're wanting is labels on all intervals. I oculd do that, but got to figure out how to make it not look messy when `interval-height` isn't a high enough number.

[2019-06-07 02:43] digiproductmarketer commented on #3
Understand that 7:00pm isn't available and understand that it's impossible to show every time slot label without things looking messy.

I think, really, that my original message didn't properly describe the real issue ... it talked about missing lables ... but the real issue is that the display doesn't extend beyond, or at least to, the end of the day interval range.

On some other calendars that

[2019-06-08 12:17] lucasfernog opened #12 "Documentation for click event"
The documentation table doesn't indicate that click:context event pass the date as argument.

[2019-06-08 17:21] hawkeye64 opened #13 "Day view intervals start at wrong time"
The day view intervals are starting at +/- GMT from UTC.

![image](https://user-images.githubusercontent.com/10262924/59150364-8561c400-89df-11e9-841b-1c2cdf37deee.png)

[2019-06-08 17:26] hawkeye64 commented on #13
fixed in v1.0.0-alpha.12

[2019-06-08 17:27] hawkeye64 commented on #12
Agreed. And, I still need to write examples for click events.

[2019-06-08 17:29] lucasfernog commented on #12
Your docs are all closed source?

[2019-06-08 17:32] hawkeye64 commented on #12
they are in the demo folder, available on the website

[2019-06-08 18:08] digiproductmarketer commented on #3
A pointer to help you isoate this ... it's occuring because I set the "Interval Step" to 30 minutes

I did that because having the "Interval Step" set to 15 minutes didn't allow me to set the "Interval Height" to less than 20px, and therefore I couldn't get a complete working day to display on the viewport.

When I reset the "Interval Step" to 15 minutes, the 7:00pm label is displayed.

[2019-06-08 18:12] digiproductmarketer commented on #3
Just to reconfirm.

7:00pm displays correctly in this situation
Interval Range 06:45 to 19:30
Interval Step 15minutes
Interval Height 20px

7:00pm does not display at all in this situation
Interval Range 06:45 to 19:30
Interval Step 30minutes
Interval Height 20px

[2019-06-08 18:17] digiproductmarketer commented on #3
Just checked something else ... if the working day is a multiple of the Interval Step then it works.

so by changing the end of the Interval range to 19:45, I got it to work with Interval Step of 15 minutes and Interval Step of 30 minutes

[2019-06-08 20:41] #13 closed

[2019-06-08 20:45] hawkeye64 commented on #3
Yeah, I'm still not clear. If the interval text is to be displayed on the very first and very last intervals it won't be displayed. That's by design (because it looks horibble having the top/bottom half of the text cut off).

[2019-06-08 21:37] digiproductmarketer commented on #3
Why should it need to have the bottom half of the text cut off? It's for a label that has a period following it.

The label display can be correct in each situation without any problem ... otherwise it wouldn't be displayed when the interval time is set to 30 minutes ... and wouldn't be corrected when setting the Interval Step (working day) to an exact multiple of the Interval Step .

In the set o

[2019-06-09 13:07] hawkeye64 commented on #3
I don't know. Sometimes I think we are talking apples/oranges. As for your examples, I cannot replicate the first one, it ends up displaying like the second one.
The only thing I can think of is that I didn't adjust the interval range slider when you change the interval step.

[2019-06-28 15:20] hawkeye64 commented on #3
Btw, I updated the demo. Did that clear up your issue?

[2019-06-28 17:36] digiproductmarketer commented on #3
I haven't checked yet ... I'll check shortly and let you know.

[2019-06-28 18:02] digiproductmarketer commented on #3
I'm going to say "Yes, it's OK now" ... because I now get the 7:00pm label appearing as I expect ... and I'm happy with the display of the working hours that I can produce.

However, I'm going to add a caveat ... because you've altered the interface of the Interactive Demo in such a way that I am unable to enter the exact values I was previously entering, because the Interactive Demo UI resets my

[2019-06-28 22:23] hawkeye64 commented on #3
Sounds good. :)

[2019-06-28 22:23] #3 closed

[2019-06-29 14:36] hawkeye64 commented on #4
JSON API still not done, but no longer showing QMarkdown api

[2019-06-29 14:36] #4 closed

[2019-06-29 14:36] hawkeye64 commented on #4
available on next release

[2019-06-30 13:57] hawkeye64 opened #14 "Week views display wrong amount of days when v-model is changed"
Set up:
1. `week` or `week-schedule` views
2. monday set as first day of the week
3. 5 day work week
Previous and next works. The issue occurs when you set v-model (value) to something else, like licking the **TODAY** button. Then, the display is monday as forst day of the week, Saturday and Sunday are skipped, but 7 days are displayed.

[2019-06-30 14:06] hawkeye64 commented on #14
Fixed in 1.0.0-alpha.18

[2019-06-30 14:06] #14 closed

[2019-07-01 14:09] HenriqueSPin opened #15 "Stylus and CSS customization"
Now it's not possible to override stylus variables for customization.

The Calendar stylus vars should be declared with a ?. E.g.: `$day-label ?= 24px`

This is useful for reducing the css footprint.

Would be also nice if instead of $primary, etc, use `var(--q-color-primary)` and if the color for borders, backgrounds, etc, are in their own vars. E.g.: `$calendarBorderColor ?= $grey-4`

[2019-07-01 23:39] hawkeye64 commented on #15
Thanks for the info! I'll be looking into it. :heart:

[2019-07-04 15:43] hawkeye64 commented on #7
@ReynerHL Can verify if this is still an issue for you? Otherwise I'll close this. Thanks.

[2019-07-04 16:21] hawkeye64 commented on #15
@HenriqueSPin
beta.1 is released. I changed to the `?=` for the variables. I'll be updating the rest in a future release, but going to close this for now.

[2019-07-04 16:21] #15 closed

[2019-07-05 14:01] ReynerHL commented on #7
@hawkeye64 Sorry for the delay. All the issues I've described before still there.

[2019-07-08 14:47] hawkeye64 commented on #12
done

[2019-07-08 14:47] #12 closed

[2019-07-25 06:55] fansanelli opened #18 "Using template to fetch events trigger twice"
https://codesandbox.io/s/qcalendar-t0c6e
(not sure it's clear)

**Describe the bug**
The method to fetch events is called twice

**To Reproduce**
Open calendar and check the console

**Expected behavior**
fetchEvents() called only once

**Screenshots**

**Desktop (please complete the following information):**
Firefox 68.0 (64 bit)
Ubuntu 16.04.6 LTS
    Pkg quasar........ v1.0.5
    Pkg @quasar/ap

[2019-07-25 07:55] fansanelli opened #19 "Demo: many events with the same start overlaps in view day"
**Describe the bug**
2 events with the same start overlaps in day view

**To Reproduce**
-Go to demo;
-Select view day
-Create event ex. My event 1, start 16:30 ,anyduration;
-Create event ex. My event 2, start 16:30, anyduration;
-see My event 1 disappear.

**Expected behavior**
many events with the same don't keep full width

**Screenshots**

**Desktop (please complete the following information)

[2019-07-25 09:04] fansanelli commented on #19
The PR solves the issue for 2 events, but if you have more you will face the same troubles. Probably it's to rethink the approach used to draw events.

[2019-07-25 09:30] fansanelli opened #21 "Demo: building as spa is not working"
**Describe the bug**
The demo built as spa doesn't work

**To Reproduce**
Steps to reproduce the behavior:
$ git clone
$ cd app-extension-qcalendar/demo
$ npm install
$ quasar build
copy ./dist/spa to an HTTP server
open webpage
see a lot of 404, like: http://localhost/app-extension-qcalendar/css/app.23634172.css

**Expected behavior**
the page loading and gives same result as using
$ quasar dev
c

[2019-07-25 17:40] hawkeye64 commented on #18
Thanks for reporting, but I really don't see the issue. Vue is in charge of the render cycle and if your render function is called multiple times during initialization, then you render.

Sorry, but I don't consider this a bug. You can try to convince me otherwise.

[2019-07-25 17:40] #18 closed

[2019-07-25 17:44] hawkeye64 commented on #21
Thanks for reporting.
First, don't use npm. Not going to say it sucks...but, just saying...
In the **app-extension-qcalendar** folder run `yarn link`
Follow the instructions with the output in the demo folder (I usually copy/paste)
I believe it's something like `yarn link @quasar/quasar-app-extension-qcalendar`

[2019-07-25 17:44] #21 closed

[2019-07-25 17:58] hawkeye64 commented on #19
In release v1.0.2

[2019-07-25 17:58] #19 closed

[2019-07-25 19:11] fansanelli commented on #18
Well. I would use Axios to fetch events and push them to the calendar, so a double call is a waste of time. I also think the call should be an array of shown days in this way I could return all from the server. Maybe the events should be stored inside the qcalendar so user can push a new one using an emit.

[2019-07-25 19:15] fansanelli commented on #21
I never had all that problems with NPM... I will try to figure if it's related to it and let you know

[2019-07-25 19:16] fansanelli commented on #19
Actually still open for more than 2 events. But thanks for pulling the change

[2019-07-26 09:37] fansanelli opened #22 "cannot run quasar dev after updating to 1.0.2"
**Describe the bug**
after updating to latest version (@quasar/quasar-app-extension-qcalendar@1.0.2) of the component i get:

⚠️  Missing .babelrc file...

after running: $ quasar dev

**To Reproduce**
update component and run quasar dev

**Expected behavior**
doesn't give errors

**Screenshots**

**Desktop (please complete the following information):**

**Smartphone (please complete the following

[2019-07-26 19:25] hawkeye64 commented on #22
That's interesting, since the demo is using Quasar which produces a `babel.config.js` instead of the `.babelrc`. Any chance you are using npm? If so, remove node_modules and the lock file and re-install with yarn.

[2019-07-28 12:41] cjmendoza commented on #22
Tried what was suggested and did not work. Problem shows a little different in the console errors:
Uncaught SyntaxError: Unexpected token ...
    at Object../node_modules/quasar-mixin-colorize/src/index.js (app.js:7154)
    at __webpack_require__ (app.js:1476)
    at fn (app.js:833)
    at eval (webpack-internal:///./node_modules/@quasar/quasar-app-extension-qcalendar/src/component/mixins/calendar

[2019-07-28 18:53] hawkeye64 commented on #22
This appears to be an issue with quasar-mixin-colorize

***Uncaught SyntaxError: Unexpected token ...***

I'd like to know more about this error if you can track down the line. I know...javascript doesn't give much to go on... :(

[2019-07-28 18:57] cjmendoza commented on #22
"use strict";
eval("__webpack_require__.r(__webpack_exports__);\n/* harmony export (binding) */ __webpack_require__.d(__webpack_exports__, \"isNamedCssColor\", function() { return isNamedCssColor; });\n/* harmony export (binding) */ __webpack_require__.d(__webpack_exports__, \"isCssColor\", function() { return isCssColor; });\n/* harmony export (binding) */ __webpack_require__.d(__webpack_exports_

[2019-07-28 19:04] hawkeye64 commented on #22
Yeah, that's not helping me.

This is in your own app or running the demo?

[2019-07-28 19:06] cjmendoza commented on #22
My own

[2019-07-28 19:07] hawkeye64 commented on #22
Is there a repo I can check it out?

[2019-07-28 19:09] cjmendoza commented on #22
I can try to put something together for you. The app is pretty large. Was working fine with beta version.

[2019-07-28 19:10] hawkeye64 commented on #22
Let me know when available. You can DM me on Discord for faster service if you like.

[2019-07-29 14:17] fansanelli commented on #22
Feel free to close this issue. My bad.. I was trying to keep 2 version of quasar and messed things

[2019-07-29 14:46] cjmendoza commented on #22
Any way to install an older version to try out and verify if it is colorize mixin problem?

[2019-07-29 15:04] hawkeye64 commented on #22
@cjmendoza I `git cloned` app-extension-qcalendar and built the demo without issues. And, the interactive demo is running fine, also without issues (https://quasarframework.github.io/app-extension-qcalendar). So, I can't imagine what it may be. Plus, all the App Extensions I have github pages for use the App extension QRibbon, that is using `quasar-mixin-colorize` and they are all working.
That be

[2019-07-29 15:10] cjmendoza commented on #22
FYI I ran with v1.0.0 and it works fine.

[2019-07-29 15:17] hawkeye64 commented on #22
So, you're saying after 1.0.0 it is broken?
Are you builing SSR or PWA, or rather, anything that is not raw SPA?

[2019-07-31 15:36] cjmendoza commented on #22
I am running SPA. Tried 1.0.2 and did not work. 1.0.0 works fine.

[2019-07-31 16:39] BenoitRanque opened #24 "Feature Request: hide-header prop to only hide default header content"
Currently the only way to remove the default header content is the `hide-header` prop.
This prop also removes all header slots such as `day-header`, `column-header-before`, `column-header-after`

This means that I cannot remove the default button and day name _and_ have a custom header at the same time.

The suggested change would use the same props, but only remove the day name and date button wh

[2019-08-03 13:13] heartbeatLV opened #26 "@click:time event should pass index when column-count > than 1"

[2019-08-03 17:01] hawkeye64 commented on #26
Is this a quastion or an observation? I need more details. Thanks.

[2019-08-03 17:16] heartbeatLV commented on #26
Sorry for my bad english. It is a question.
The vue event 'click:day' pass an object with those properties:
`{date, time, year, month, day, hour, minute, weekday, doy, workweek, hasDay, hasTime, past, current, future, disabled, index }`

The vue event 'click:time' pass an object with these instead:
`{ date, time, year, month, day, hour, minute, weekday, doy, workweek, hasDay, hasTime, past, curren

[2019-08-03 17:39] heartbeatLV commented on #26
in [this](https://quasarframework.github.io/app-extension-qcalendar/examples#Day-View---Column-Count) example when I click on an interval i got an object without index

[2019-08-04 05:49] hawkeye64 commented on #26
Thanks for pointing this out. I'll take a look as soon as I am able.

[2019-08-10 02:51] sn0rcha opened #27 "Does not work on IE 11 or Edge"
**Describe the bug**
Crashes Quasar on IE11 or Edge when including in the quasar.extensions.json.

Error in IE 11:
[code]

[code]

**To Reproduce**
quasar ext add @quasar/qcalendar

**Expected behavior**
App to boot

**Additional context**
Edge doesn't boot at all - just a white screen.

[2019-08-10 21:05] hawkeye64 commented on #27
Thanks for bringing this up. I'll start investigating when I get home. Currently out of town.

[2019-08-11 22:48] hawkeye64 commented on #26
Fixed in v1.0.3

[2019-08-11 22:48] #26 closed

[2019-08-11 22:49] hawkeye64 commented on #24
Thanks for pointing this out AND making a PR to fix this. I :heart: our community. :)

[2019-08-11 22:49] #24 closed

[2019-08-11 22:53] hawkeye64 commented on #22
@cjmendoza I just did this:
`quasar create calendar-test`
accepted all defaults, then in 'calendar-test' folder:
`quasar ext add @quasar/qcalendar`
in src/Pages/Index.js - replaced template code with this:
[code]
in terminal: `quasar dev`
It builds and comes up fine with no issues. No errors or warnings in chrome dev tools.
I can't imagine what might be causing your issues.

What OS? What browser?

[2019-08-11 22:55] hawkeye64 commented on #7
Anyone that runs Apple and has Safari available please feel free to investigate. My hands are tied as I have no apple products.

[2019-08-11 22:56] hawkeye64 commented on #27
Can you post the contents of your `quasar info`? Thanks.

[2019-08-11 23:09] sn0rcha commented on #27
I had to remove the calendar extensions but here it is without it:

[code]

[2019-08-12 11:30] stgunholy opened #28 "Improve DnD functionality and give visual feedback on dragged event"
In week mode it is not possible to drag 2 hours event for period shorter then 2 hours.

Would be nice to get visual feedback of where the event is going to land on drop (maybe with snap to the grid) and it is must have to be able to drag event for period shorter then event self.

[2019-08-12 23:50] hawkeye64 commented on #27
Sorry to hear that. :(

[2019-08-12 23:52] hawkeye64 commented on #27
Did you look at `quasar.extensions.json` to make sure it was well-formed json -- that nothing odd happened to it? I have confirmed ppl using IE11 and Edge are not having any issues running the examples and interactive demo on the docs site.

[2019-08-19 18:33] #27 closed

[2019-08-19 18:34] hawkeye64 commented on #28
Thanks for the feedback.
This is in the example, of which, the drag-and-drop UI is in dev land and not part of QCalendar per se.

[2019-08-22 18:38] hawkeye64 commented on #22
@cjmendoza @fansanelli Fixed in v1.0.5 - please test
https://github.com/quasarframework/app-extension-qcalendar/releases/tag/v1.0.5

[2019-09-04 20:38] #22 closed

[2019-09-23 19:09] tpoxa opened #38 "Unknown custom element: <q-date-time-scroller> - did you register the component correctly?"
Pkg quasar........ v1.1.4
Pkg @quasar/app... v1.1.2

I don't get where these scroll components are coming from?

[2019-09-23 19:13] #38 closed

[2019-09-27 13:40] #28 closed

[2019-09-28 12:26] iamgmd opened #40 "Add ability to create interval now line"
I have seen in other calendars, the ability to show an interval now line on the today's date representing the current time which reactivity moves on each minute past.

I would love the have a similar feature in the qcalendar. It's already awesome but this, for me is the cherry on top of features.

vue-cal and daykeep-calendar-quasar has similar features, vue-cal's line doesn't reactivity change wh

[2019-09-28 18:41] hawkeye64 commented on #40
Great idea! Thanks! I have a heap of other work I need to do before this is implemented. There will likely be a new QCalendar release before this is done. But, don't worry, it's on my list not. Thanks for the suggestion! :heart:

[2019-10-07 06:13] dependabot-preview[bot] opened #41 "Dependabot couldn't find a package.json for this project"
Dependabot couldn't find a package.json for this project.

Dependabot requires a package.json to evaluate your project's current JavaScript dependencies. It had expected to find one at the path: `/package.json`.

If this isn't a JavaScript project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com).

[2019-10-07 21:39] lombo75 opened #43 "error when changing saved event from all day event to duration event"
**Describe the bug**
Error in callback for watcher "date": "TypeError: Cannot read property 'date' of null"

**To Reproduce**
Steps to reproduce the behavior:
1. enter an all day event
2. Click on the event to edit it
3. Uncheck all day event checkbox and select event start date and time
4. See error in console

**Desktop (please complete the following information):**
 - OS: [windows]
 - Browser [

[2019-10-07 22:54] hawkeye64 commented on #43
Thanks for the information. This is caused by a bug in the QScroller app extension, of which I am currently working on to convert to the component ui/app-ext combo provided by the ui kit. Once that is released and QCalendar demo updated, it should resolve itself.

I'll keep this issue open until then.

[2019-10-07 23:04] lombo75 commented on #43
Ok thanks, great work on the extensions, they are fantastic

Is it a quick fix for you?, if not, any estimated timeframe

[2019-10-09 01:44] hawkeye64 commented on #43
No. I have a lot of work to do for QScroller (needs conversion to the new UI kit). In the meantime, you can use QDateTimePicker by @TobyMosque

[2019-10-09 01:45] hawkeye64 commented on #43
As for time frame, probably early next week

[2019-10-09 23:14] #41 closed

[2019-10-15 09:37] MrDrummer opened #44 "Swipe event on calendar effects siblings on mobile"
For a legitimate bug, in order to process faster, please go here https://codesandbox.io/s/qcalendar-bx1y7, fork the codesandbox, add code to reproduce the bug and submit link here:
https://quasarframework.github.io/quasar-ui-qcalendar/examples#Swipe-Navigation

**Describe the bug**
With the swipe enabled on the calendar component, swiping in mobile mode will also make any sibling components have a

[2019-10-16 17:48] Gumaa opened #45 "Miscalculation when weekdays is set to only 5 days"
**Codepen**
https://codepen.io/Gumaa/pen/YzzWPPo

**Describe the bug**
QCalendar is miscalculating number of days to show when `weekdays` it set to `[1,2,3,4,5]` - it does not take into the account disabled days and it overshoots.

In consequence for example in week view, when going to a `next` week it moves by 7 active days and sometimes skips whole week (because in that case week has only 5 acti

[2019-10-16 18:31] hawkeye64 opened #46 "Resource interval gets console errors when no resources defined"
It would be an error to not have any resources in a scheduler environment

[2019-10-16 18:34] hawkeye64 commented on #46
Fix is in UI component v1.02

[2019-10-16 18:34] #46 closed

[2019-10-16 18:35] #45 closed

[2019-10-17 12:55] hawkeye64 opened #48 "5-day workweek/month-view shows invalid weeks"
When showing month-view and a 5-day workweek, starting and ending weeks may display without dates from current month. Quite visible for June 2019 and Feb 2020.

[2019-10-17 12:58] hawkeye64 commented on #48
Fix will be in v1.0.5 of UI component

[2019-10-17 12:58] #48 closed

[2019-10-17 18:15] hawkeye64 commented on #44
Your sandbox gets this error:
![image](https://user-images.githubusercontent.com/10262924/67035868-be215080-f0d7-11e9-86f4-6705e72f38f9.png)

I also noticed you are using RC versions of Quasar.

You can fork this one and test with it. https://codepen.io/Hawkeye64/pen/RwwwKQL

Thanks

[2019-10-23 08:27] Gumaa opened #49 "5-day workweek does not show month label (when 1st is on weekend)"
**Codepen**
https://codepen.io/Gumaa/pen/jOOBwLp

**Describe the bug**
When showing month view with 5 day work week enabled month label does not show when the first day of the month is on weekend. Label should be shown on first available day of the month.

**To Reproduce**
Steps to reproduce the behavior:
1. Create QCalendar
2. Add prop: :weekdays="[1,2,3,4,5]"
3. Add prop: view="month"
3. Go to D

[2019-10-23 19:29] hawkeye64 commented on #49
@Gumaa Thanks for reporting this. I'll work on it as soon as I swing back around to QCalendar. :heart:

[2019-10-23 19:31] hawkeye64 commented on #44
@MrDrummer pinging. Any update?

[2019-10-23 19:33] hawkeye64 commented on #43
@lombo75 Sorry, I am still working on QScroller. I was in Emergency twice and had an MRI to deal with. Sciatica nerve pain, possible collapse disk in my back. The punishment for being a programmer for over 30 years hunched in a chair at a desk. :(

[2019-10-24 15:18] lombo75 commented on #43
No worries, Jeff, I have the same issues with my back, and same amount of years programming, plus chuck in some very bad wrists, take your time, I am not in a hurry for the fix atm

[2019-11-03 15:10] stefanvanherwijnen opened #51 "(demo) Header buttons do not work in scheduler views"
**Describe the bug**
When the view is set to a `scheduler` view, and the button in the header is clicked to change the date, it returns the following error:
RangeError: "date value is not finite in DateTimeFormat.format()"
(and selectedDate: undefined in the demo)

**Expected behavior**
It should change the date to the selected date, as in the other views.

I think it might be an error here:
https

[2019-11-03 22:40] hawkeye64 commented on #51
Thanks for letting me know about this. I'll investigate tomorrow.

[2019-11-04 13:56] hawkeye64 commented on #43
I fixed the QScroller integration yesterday. But, have not looked into date/times when changing it from duration to all-day

[2019-11-04 15:11] hawkeye64 commented on #51
This should be dixed now. Let me know if you still see the issue.

[2019-11-04 15:11] #51 closed

[2019-11-04 15:17] hawkeye64 commented on #44
I am unable to reproduce this using Android Chrome. If you still see issues, feel free to re-open it.

[2019-11-04 15:17] #44 closed

[2019-11-04 23:55] hawkeye64 commented on #49
Fix will be in v1.0.8

[2019-11-04 23:55] #49 closed

[2019-11-05 01:21] hawkeye64 commented on #43
I have had to make an additional fix in QScroller. This will be fixed in the **demo** in the next release. Very soon.

[2019-11-05 01:21] #43 closed

[2019-11-05 01:43] hawkeye64 commented on #43
Closing, but let me know if there are any other issues.

[2019-11-06 18:20] stefanvanherwijnen opened #52 "interval calendars with long text cause bad column widths"
If the content of a resource day does not fit within the container, the container is stretched in width until it fits. However, the day headers do not stretch along which means that the columns of days and resources do not longer correspond with each other. Also, a scroll bar appears but the other columns seem to have disappeared.

I'd suggest not making the header a fixed window width, but making

[2019-11-13 18:21] hawkeye64 commented on #52
Hi,
You can use a slot and control the scrolling in devland. Perhaps even a QScrollArea. I'd prefer QCalendar not to make opinionated choices for the developer when they can handle what is needed with slots or other devland control points.

[2019-11-13 19:00] stefanvanherwijnen commented on #52
Thanks, I'll give it a try. Maybe it's worth mentioning this in the docs or example?

[2019-11-13 19:07] hawkeye64 commented on #52
@stefanvanherwijnen Actually, I have considered it and you're right. I am going to add maxWidth to appropriate columns. Stay tuned.

[2019-11-13 19:08] hawkeye64 commented on #52
If you want scrolling, you will have to use a slot tho. However, the calendar should look uniform, not matter what, even at the price of being opinionated.

[2019-11-13 19:13] hawkeye64 commented on #52
Fix will be in v1.0.8

[2019-11-13 19:13] #52 closed

[2019-11-13 20:43] hawkeye64 commented on #40
@iamgmd I have added a new slot that lets you do this in devland. I have also included two examples of how to do this.
![image](https://user-images.githubusercontent.com/10262924/68802532-50573e80-061b-11ea-9a17-4851be7f9c2b.png)

Fix will be available in v1.0.8

[2019-11-13 20:43] #40 closed

[2019-11-14 12:16] hawkeye64 commented on #52
Your right. I forgot to put that into the JSON API as well as the new slot I added. On Nov. 13, 2019 12:00 p.m., Stefan van Herwijnen <notifications@github.com> wrote:Thanks, I'll give it a try. Maybe it's worth mentioning this in the docs or example?

—You are receiving this because you modified the open/close state.Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-11-15 16:32] nothingismagick opened #57 "calendar overwrites sass variables e.g. $primary"
**Describe the bug**
Calendar overwrites my primary color.

**To Reproduce**
Steps to reproduce the behavior:
1. change the $primary `src/css/quasar.variables.sass` to a custom color.
2. verify that the primary color is being used e.g. in a button
3. install this app extension
4. notice that your primary color has returned to default

**Expected behavior**
qcalendar should NOT modify my color vari

[2019-11-15 18:49] hawkeye64 commented on #57
Thanks for finding this. :heart:
@quasar/quasar-ui-qcalendar-v1.0.12 and @quasar/quasar-app-extension-qcalendar-v1.0.21 released!
https://github.com/quasarframework/quasar-ui-qcalendar/releases/tag/%40quasar%2Fquasar-ui-qcalendar-v1.0.12
- fix(ui): calendar overwrites sass variables e.g. $primary (#57)(@nothingismagick#9835)

[2019-11-15 18:49] #57 closed

[2019-11-15 19:02] nothingismagick commented on #57
Doesn't seem to be fixed. :|

[2019-11-16 11:36] nothingismagick commented on #57
Now it is.

[2019-11-18 18:37] digitalit commented on #7
Don't have the skills to solve this but i can confirm that selecting date/time in Safari doesn't work.

[2019-11-19 01:16] hawkeye64 commented on #7
@digitalit Ok, but that part of the coding, which is in the demo, is in devland. Yes, that I would like to get fixed, but I am more interested in the functionality of the calendar working properly on Safari.

[2019-11-27 03:04] desdevol opened #58 "[feat] Agenda view"
**Is your feature request related to a problem? Please describe.**
I was using q-calendar to create a booking system, however on the week-view, q-calendar's behavior is to show all the time intervals for a day, which might be less user-friendly since the user has to scroll a lot to see an available booking slot.

**Describe the solution you'd like**
It would be awesome if q-calendar body to show o

[2019-11-28 17:13] hawkeye64 commented on #58
@desdevol Thanks for the suggestion. :heart:
QCalendar really doesn't work with events, per se. So, how can we accomplish this?
Let's figure out the design issues so we can go ahead with this and make it a feature.
I am thinking you get the headers, as seen above, then with empty columns and it's up to dev to fill in the columns per a slot. Basically, will give you want in the image above.
However

[2019-11-28 19:32] hawkeye64 commented on #58
This is what I got so far:
![image](https://user-images.githubusercontent.com/10262924/69828949-2edd8180-11db-11ea-99dc-a4854cd899e7.png)

[2019-11-28 21:09] hawkeye64 commented on #58
Another example:
![image](https://user-images.githubusercontent.com/10262924/69831891-b2519f80-11e8-11ea-998b-787d67619fc1.png)

[2019-11-29 01:07] hawkeye64 commented on #58
Added in v1.1.0

[2019-11-29 01:07] #58 closed

[2019-12-05 23:13] visiperl opened #59 ":column-count prop not working for count > 1"
For a legitimate bug, in order to process faster, please go here https://codesandbox.io/s/qcalendar-bx1y7, fork the codesandbox, add code to reproduce the bug and submit link here:

**Describe the bug**
Whenever I try to use :column-count > 1, the day view does not render column header.  As long as I'm just using 1, all slots appear to render correctly.

**To Reproduce**
Add :column-count="1"
Add

[2019-12-05 23:43] hawkeye64 commented on #59
Fix will be in v1.2.2
Thanks for reporting this! :heart:

[2019-12-05 23:43] #59 closed

[2019-12-11 18:48] Niiitzer opened #62 "Intervals stop at 12pm"
Hi, my calendar **stop the intervals at 12 pm** for any kind of view (tried with dayview and weekview)

**To Reproduce**

Don't even know how it is possible

**Screenshots**

![image](https://user-images.githubusercontent.com/15967578/70650113-c10b6e00-1c4e-11ea-82ea-e9fd93ad78c9.png)
![image](https://user-images.githubusercontent.com/15967578/70650216-f617c080-1c4e-11ea-9bf7-ae5547272ff5.png)

**

[2019-12-11 20:34] hawkeye64 commented on #62
@Niiitzer You changed the `interval-minutes` but have not changed the `interval-count`. `interval-minutes` by default is `60` (minutes) and `interval-count` by default is `24` (hours). 60 minutes * 24 hours is one day.
If you change `interval-minutes` to `30`, as I see you have done in the image above, you have to double your `interval-count` to `48`. 30 minutes * 48 (1/2 hours) is one day.
Hope t

[2019-12-11 20:34] #62 closed

[2019-12-11 20:37] Niiitzer commented on #62
Hi @hawkeye64 ,

Thanks ! Indeed it works, now i understand. Wonderful work there 👍

[2019-12-12 12:39] jonDel opened #64 "Month view - events that extends beyond a day"
In the **Month view**, if I add an event with a duration of several days, I expect that this event tag would appear in each one of the days comprising the event interval. However, only the first day is tagged. If I click in the event tag, it shows me the correct duration. Nevertheless, I found it kind of misleading, since it seems like a one day event at first sight. If there are several events in

[2019-12-12 17:07] hawkeye64 commented on #64
@jonDel Thanks for reporting. :heart: Events are done in devland, so you can do them any way you want. If you are referring to the demo, feel free to PR. I love surprises.

[2019-12-15 13:00] hawkeye64 commented on #64
@jonDel We have the multi-day event almost completed. It's live, but we have a found a few bugs to work out. Please check it out and give me your opinion.

[2019-12-16 13:46] jesusvilla commented on #7
We are already reviewing @ReynerHL, thanks for your comments.

[2019-12-16 15:09] hawkeye64 commented on #64
@jonDel You can do multi-day events now with current release v1.3.6. Please review the examples to see how it is done.

[2019-12-16 15:09] #64 closed

[2019-12-17 17:15] hawkeye64 commented on #7
This should now be fixed in v1.3.9 -- if you see any other issues with Safari, please feel free to let me know right away. Thanks.

[2019-12-17 17:15] #7 closed

[2019-12-21 19:05] Rusty-sk opened #72 "Playground on Quasar Demo is giving errors"
For a legitimate bug, in order to process faster, please go here https://codepen.io/Hawkeye64/pen/RwwwKQL, fork the codepen, add code to reproduce the bug and submit link here (don't forget to save your codepen):

Don't know this if this is the where you would prefer this error but I thought someone would like to know.

**Describe the bug**
A clear and concise description of what the bug is.
[http

[2019-12-22 13:37] hawkeye64 commented on #72
@Rusty-sk Thanks for reporting this! :heart: I'll be investigating.

[2019-12-22 13:46] hawkeye64 commented on #72
@Rusty-sk I have played a lot with the online demo and not getting any console errors. Do you have repeatable steps? I am wondering if there were some internet/github issues when you found this.

[2019-12-22 13:48] hawkeye64 commented on #72
@Rusty-sk I am getting this error if you click on an empty interval slot
![image](https://user-images.githubusercontent.com/10262924/71322634-09186500-2487-11ea-82ce-0ea9ab61860f.png)

[2019-12-22 15:43] Nice2Work commented on #72
Yes, this is the error I can reproduce as well, and what I also noticed is that in calendar.vue - methods - checkDateTimeStart(val) , in the vars this.eventForm.dateTimeStart and  this.eventForm.dateTimeEnd both vars are a bit different in their format, perhaps this is where the issue starts??

[2019-12-22 15:54] Nice2Work commented on #72
If you manually change the start and end time of an event (ie 2019-04-09 10:00 and 2019-04-09 10:20), it works, if you keep what is given, it fails (this is on edit an event), if you create a new event there is an error checking for start and end time, which also creates this error.  So what I did to have the add event working was taking out the error checking and removed the scroll for date/time.

[2019-12-22 16:39] hawkeye64 commented on #72
@Nice2Work I will look into it further. I fixed the other issue. Unfortunately, the interactive demo needs a good overhaul to be current with latest updates.

[2019-12-27 14:10] hawkeye64 commented on #72
@Rusty-sk @Nice2Work This has been fixed. Let me know if you see any other issues. Thanks.

[2019-12-27 14:10] #72 closed

[2020-01-29 14:07] chemscobra opened #83 "Prev/Next Button not working correctly in Scheduler View"
The Prev/Next navigation in the [Scheduler View Example](https://quasarframework.github.io/quasar-ui-qcalendar/examples/scheduler-view#example-Prev%2FNext) doesn't work, although the transition animation is triggered the first time you click.

[2020-01-29 14:09] hawkeye64 commented on #83
That's odd. Thanks for bringing this to my attention. I appreciate it. :heart:

[2020-01-29 14:30] #83 closed

[2020-02-06 19:59] stefanvanherwijnen opened #85 "Selecting date causes calendar redraw"
https://codepen.io/stefanvh/pen/yLNLqbv

**Describe the bug**
In the example, if you select any date other than the current one, the calendar will redraw. This does not happen if you select a date in a different month (after going to another month with the previous/next buttons).

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Feb 4 for example
2. Calendar will redraw

[2020-02-08 16:09] hawkeye64 commented on #85
@stefanvanherwijnen This will be fixed in v1.3.17 release (later today)

[2020-02-08 16:09] #85 closed

[2020-02-08 22:36] hawkeye64 commented on #85
released

[2020-02-10 16:12] stefanvanherwijnen opened #86 "No visual feedback on toggling selected dates in mini-mode"
![Alt Text](https://s5.gifyu.com/images/Peek-2020-02-10-17-02.gif)

In mini-mode, if you try to toggle a selected date it seems like it does not work. The date is removed from the selected dates array, but I believe the CSS of the v-model date is equal to the CSS of a selected date. Thus there is no feedback if a date is selected or if it's the current v-model date.
(that's my guess, but I couldn'

[2020-02-10 17:05] hawkeye64 commented on #86
@stefanvanherwijnen Thanks for reporting this.
I have to make some changes that hopefully won't break things.
1st, there is a conflict with `q-selected-date`, so when user clicks on button, it wil now be `q-active-date`. 2nd, if you don't want the active date behavior, there will be a new prop `no-active-date`, which will prevent the `q-active-date` class from being applied, so you don't get that

[2020-02-10 17:15] hawkeye64 commented on #86
Fix will be in v1.4.0

[2020-02-10 17:15] #86 closed

[2020-02-11 14:48] gaby64 opened #87 "module size"
@quasar/quasar-ui-qcalendar 372.0kB

how can I get this down, the umd.min.js is only 53kb, im not sure why my vue cli version is so much larger

[code]

[2020-02-11 16:31] hawkeye64 commented on #87
These are the released files. I am not sure where you are getting your values from.
![image](https://user-images.githubusercontent.com/10262924/74256847-40e6a080-4cb1-11ea-9b3d-596f954fdbce.png)

[2020-02-11 17:41] gaby64 commented on #87
vue ui build dashboard

![image](https://user-images.githubusercontent.com/2108555/74262775-81531800-4ccb-11ea-9056-900d846327ae.png)

![image](https://user-images.githubusercontent.com/2108555/74262928-d3943900-4ccb-11ea-88be-84ef3c42774d.png)

[2020-02-11 17:51] hawkeye64 commented on #87
Yes, but you have the UI component installed. This includes the `dist` folder and the `src` (in case you want to go that way and use your own transpiler), but that doesn't mean it's all being bundled into your app. Those things are looking at everything in the folder, not what is actually getting included.

[2020-02-11 17:52] gaby64 commented on #87
webpack visualizer does that yes, but not the build dashboard, its actual bundle size

I only need the month view, could just import that?

[2020-02-11 19:26] hawkeye64 commented on #87
No, because the parent QCalendar provides critical methods for calculating start and end dates.

[2020-02-11 19:27] hawkeye64 commented on #87
I will think about separating them out and using those methods as a mixing, but it will be a while before with careful consideration.

[2020-02-11 19:52] gaby64 commented on #87
before adding quasar-ui-qcalendar

![image](https://user-images.githubusercontent.com/2108555/74273082-d26c0780-4cdd-11ea-9ea3-011a23018984.png)

with index.css and index.umd.min.js
![image](https://user-images.githubusercontent.com/2108555/74273221-1232ef00-4cde-11ea-889e-73af161ad9d1.png)

[2020-02-11 22:03] gaby64 commented on #87
moving the qcalendar source to my project folder and importing QCalendar directly leads to the correct size

[code]

![image](https://user-images.githubusercontent.com/2108555/74283064-419e2780-4cef-11ea-850b-bed16012069b.png)

[2020-02-12 20:33] hawkeye64 commented on #87
Interesting why it's like that then. I'll have to consult with @rstoenescu on what's happening. :(

[2020-02-12 20:33] #87 closed

[2020-02-26 20:27] sandroden opened #89 "weekdays misbehaviour if using just [4,5,6,0]"
Hi, it seems to me that `weekdays` prop doesn't behave correctly if you just show numbers after 4 as in:

[code]
(but seems fine with "[4,5,6]")

A [codepen is here](url).

![image](https://user-images.githubusercontent.com/752776/75384371-49102400-58de-11ea-945e-e57daa455fbf.png)

Here clearly names are not sequential and are not correct.
Sometimes the weekday names gets scrambled:

"[6,0]" => mi

[2020-02-27 00:06] hawkeye64 commented on #89
@sandroden Thanks for bringing this to my attention. I should have time to look into this on the wekend. Thanks.

[2020-03-05 10:40] dewdad opened #91 "Is there a way to achieve a strip calendar like the one in Outlook for Android"
![Screenrecorder-2020-03-03-15-40-51-1 00_00_00-00_00_10~1](https://user-images.githubusercontent.com/6195827/75814434-68092d00-5d9a-11ea-8938-372a621eea44.gif)

ReactNative has a component with similar UX from https://github.com/BugiDev/react-native-calendar-strip.

If you have any pointers, I might be able to make a pull request and work on it.

[2020-03-05 13:47] hawkeye64 commented on #91
@dewdad No, there's no functionality like that at the moment. I'll look at Outlook and see we might achieve this.

[2020-03-05 14:16] hawkeye64 commented on #89
Fix will be in v1.5.1 - sorry for the delay

[2020-03-05 14:16] #89 closed

[2020-03-06 11:53] SMen1 opened #93 "json data example / docs website and examples"
I have been searching the documentation website, and I cannot find the format for bringing in data to display - I am expecting something like - label: '', description: '', from: 'datetime', to:'datetime', color: 'blue' etc.

and for this to display in the calendar. I just cannot find an example anywhere though I can experiment as a user doing this.

If I have missed something incredibly obvious ap

[2020-03-06 13:37] hawkeye64 commented on #93
@SMen1 To bring in content, like events, use the slots

[2020-03-06 13:38] hawkeye64 commented on #93
Here is a simple example: https://quasarframework.github.io/quasar-ui-qcalendar/examples/day-view#example-Slots

[2020-03-06 13:38] #93 closed

[2020-03-06 21:55] dewdad commented on #91
Thank you. If we have time to go into it, I'd be happy to contribute to the effort.

[2020-03-07 12:37] hawkeye64 commented on #91
There is a theoretical way of doing this, that I haven't tried. For the "monthly" mode, there is a prop (`weeks`?) which I believe if set to 1 will do then, then put the calendar into `mini-mode` as well. I will try it later in a codepen.

[2020-03-09 19:28] hawkeye64 commented on #91
Found this and whanted to document it here: https://dribbble.com/shots/10687809-Calendar-Animation

[2020-03-09 19:57] hawkeye64 commented on #91
Btw, the above property doesn't exists (and don't know why I was thinking `weeks`, that's something else entirely). Namely, thinking of a property...just need a good name and description of what it does.

[2020-03-13 22:01] jonDel opened #94 "Help on setting intervals on Month Scheduler"
***Question:***

I can't find a clear way on the documentation on how to do the following:
**_On Month Scheduler mode:_**
Set programmatically and asynchronously an event (could be one day duration or more) and see it being reflected on the calendar (the corresponding days must be styled accordingly).

A common use case would be:
- I click on one of the resource entities (a employee) buttons on th

[2020-03-14 14:58] hawkeye64 commented on #94
@jonDel Fork this codepen, add what you can and when done ping me and I'll see what help I can provide: https://codepen.io/Hawkeye64/pen/RwwwKQL

[2020-03-16 13:17] Olafxso opened #95 "Doc incomplete: How to use event drag and drop?"
Hi,

I am trying out the QCalendar from my quasar cli app but don't understand how to use it.
I would like to be able to move events and think it should be possible with the drag and drop support.
In the doc ( https://quasarframework.github.io/quasar-ui-qcalendar/docs#Drag-and-Drop-support  )  is described you should create events like this :
[code]

and add this methods:
[code]

This source code

[2020-03-16 14:09] jonDel commented on #94
Thanks @hawkeye64,
I provided a bit messy pen, but I think from this you can get the overall idea:
https://codepen.io/Dellagostin/pen/oNXdpwL
Obviously, the dialog doesn't do anything right now. The idea is that, after you pick start/end dates for the event, it gets reflected on the calendar, just like the On duty events that are set up initially in the pen.

[2020-03-17 10:30] Olafxso commented on #95
Hi,

I finally got the drag and drop working.
Perhaps you could update the doc that you must add these attributes
[code]
I found it in the demo: https://github.com/quasarframework/quasar-ui-qcalendar/blob/dev/demo/src/pages/Calendar.vue

[2020-03-17 10:35] Olafxso opened #96 "Calendar demo style has typo's?"
Hi,

In your demo https://github.com/quasarframework/quasar-ui-qcalendar/blob/dev/demo/src/pages/Calendar.vue are some colon's missing.

I did not get the style working and need to edit this style:
[code]
to this style:
[code]
Or has vscode studio some settings that the colon is not mandatory?

[2020-03-17 10:59] Olafxso opened #97 "Drag over not is always accepted in Chrome"
The demo has a small bug in chrome. The drag over is not always accepted.

To reproduce the issue:
1. Open the demo in chrome: https://quasarframework.github.io/quasar-ui-qcalendar/demo
2. Create a new event.
3. Drag it upwards. When you drag it over a hour grid line you will see the cursor changes that it the drag is not accepted. As result the drag event gets reset when you release the mouse.

[2020-03-17 11:08] Olafxso opened #98 "Resize events in day/week view"
It would be very nice if the q-calendar support events resizing like here
https://dhtmlx.com/docs/products/dhtmlxScheduler/.
You can drag the bottom to make it bigger.
Do you think you can add some resize support?

[2020-03-17 11:13] Olafxso opened #99 "Visual creating new events in day/week view"
It would be very nice if the q-calendar support visual creating new events like here
https://dhtmlx.com/docs/products/dhtmlxScheduler/.

Click on a start time.
Drag it downwards until the desired end time and release the mouse.
Is it possible to do this in q-calendar?

[2020-03-17 14:06] hawkeye64 commented on #97
@Olafxso Which view are you using? On the "month" view, I created an event. Then dragged and dropped it on many places with no issue. I also did this on "day" view with no issues.
I tested with Chrome.

[2020-03-17 14:09] hawkeye64 commented on #99
The event system is in dev-land, so up to the developer. This gives more freedom in look-and-feel. While the demo has drag-and-drop, it is by no means complete. It's meant as an example for those that look at the code.

[2020-03-17 14:09] #99 closed

[2020-03-17 14:10] hawkeye64 commented on #98
As mentioned in previous issue to you, the event system is in dev-land, so that the developer has more flexibility over look-and-feel.

[2020-03-17 14:10] #98 closed

[2020-03-17 14:11] hawkeye64 commented on #96
@Olafxso Yes, that needs to be fixed. Previously it was using `stylus`. Thanks for letting me know.

[2020-03-17 14:13] hawkeye64 commented on #95
@Olafxso Thanks for mentioning this. I will update docs as soon as I am able.

[2020-03-17 14:20] Olafxso commented on #97
It occurs in day and week view in chrome.
Create a event and drag it upwards slowly. You will see when you drag over a hour line the cursor will blink to not accept.

[2020-03-17 14:30] hawkeye64 commented on #94
@jonDel You can do that. Right now, you do not have a few functions referenced in your html code. Like the `onSubmit`. You need to keep track of who was selected so you can apply the results to them. Because you have hard-coded the data in a function it would be difficult to add new data. You need to split out the data into an object.
[code]
Then you can add or remove to this data according to wha

[2020-03-17 14:33] hawkeye64 commented on #97
@Olafxso I saw that, but it also changes back on the next interval and I had no problems dropping. Can you perhaps provide a gif? (github does not do movies)

[2020-03-17 15:05] Olafxso commented on #97
@hawkeye64 I don't know how to make a gif.
When you add these attributes to the q-calender it occurs much easier:
 :interval-height="5"  :interval-count="144"  :interval-minutes="10"

[2020-03-17 19:33] jonDel commented on #94
@hawkeye64 , that was just a quick and dirty example for illustrating my point and far away from the final result I want to get. The data manipulation is not what is bugging me, but how to reflect that in the styling of the calendar.
Let's take the following example (I know it is in month view, but the point holds for the scheduler month view):
![Imag](https://raw.githubusercontent.com/quasarframe

[2020-03-18 17:38] hawkeye64 commented on #94
The length would be something like this:
[code]

[2020-03-18 17:39] hawkeye64 commented on #94
You can get the start and end days of the month in the `@change` event

[2020-03-18 19:52] jonDel commented on #94
But how can I make a redraw in the calendar asynchronously? The only hacky way I figured out is to call the __checkChange() method.

[2020-03-19 22:06] hawkeye64 commented on #94
You should be using the slots, unless I am just not understanding what you need.

[2020-03-19 22:06] hawkeye64 commented on #94
If your slot data changes, Vue will redraw the calendar.

[2020-03-19 23:32] jonDel commented on #94
Of course! My bad, I am still learning vuejs, that must be obvious. The "resources" is hooked to the slot, and the slot will react to changes on "resource". Thanks very much for your patience.

[2020-03-19 23:32] #94 closed

[2020-03-20 17:20] hawkeye64 commented on #96
@Olafxso Thanks for letting me know about this. :heart: Let me know if you see any other issues. Latest demo has the fix.

[2020-03-20 17:20] #96 closed

[2020-03-22 06:55] Fulbert opened #100 "timeDurationHeight method argument is in minutes"
**Describe the bug**
`timeDurationHeight` documentation is wrong

**To Reproduce**
Steps to reproduce the behavior:
1. Go to QCalendar doc
2. Click on QCalendar API
3. Click on Methods tab
3. Scroll down to `timeDurationHeight`
4. See `duration` must be seconds

**Expected behavior**
`duration` should actually be in minutes, at least for week view.

**Additional context**
I don't know how to suppl

[2020-03-23 08:32] Olafxso opened #101 "OnDrop drops event on cursor position instead of event position"
When using the day/week view and move an event

To reproduce the issue:

1. Open the demo: https://quasarframework.github.io/quasar-ui-qcalendar/demo
2. Create a new event of more than 1 hour.
3. Click on the bottom of the event and move it 1 interval upwards. You will see its not dropped.
![capture1](https://user-images.githubusercontent.com/29576321/77296885-c154e400-6ce8-11ea-8aef-b267e7a2bd88.

[2020-03-23 14:35] hawkeye64 commented on #100
@Fulbert You're right, it should be minutes. Apologies for the confusion. Will be fixed in next release.

[2020-03-23 14:39] #100 closed

[2020-03-23 14:42] hawkeye64 commented on #101
It's just the way the dev-land example was written. Because the original event is not removed, it does not have capabilities to allow drop, so you have to drop on a location that does not have an event. It can be fixed, but, as I said, it's just a dev-land example to get you started if you want to look at the code in github.

[2020-03-23 14:42] #101 closed

[2020-03-26 13:49] ChristoEloff opened #102 "Dependency Issue"
For a legitimate bug, in order to process faster, please go here https://codepen.io/Hawkeye64/pen/RwwwKQL, fork the codepen, add code to reproduce the bug and submit link here (don't forget to save your codepen):

**Describe the bug**
This dependency was not found:

* ui in ./node_modules/babel-loader/lib??ref--1-0!./node_modules/@quasar/app/lib/webpack/loader.auto-import.js?kebab!./node_modules/v

[2020-03-26 13:50] #102 closed

[2020-03-26 22:33] hawkeye64 commented on #102
@ChristoEloff You figured it out? Looks to me like you copied the planner code to your own project, but just missed some of the files that were being imported.

[2020-03-30 09:18] tpoxa opened #103 "Is there a ways to display events list for month-agenda same way as for day-agenda?"
Thank you for a great extension to the greatest framework.

**Describe the solution you'd like**
I would like to see list of monthly events in a simple list, without splitting by date columns

Thank you.

[2020-03-31 13:26] hawkeye64 commented on #103
@tpoxa Thanks for the great comment! :heart:

Unfortunately, I am not quite understanding what you mean. Can you clarify? Maybe provide some images? Thanks.

[2020-04-04 13:15] hawkeye64 commented on #95
This will be adjusted in v1.5.2

[2020-04-04 13:15] #95 closed

[2020-04-04 13:19] hawkeye64 commented on #97
@Olafxso Sorry, I still can't see any issues. :(

[2020-04-07 18:59] hawkeye64 commented on #91
Keep this conversation for future development ideas

[2020-04-23 00:18] tonjohn commented on #91
I recently prototyped such a component: https://codesandbox.io/s/pbh-date-selector-7cblk

[2020-04-23 19:51] scottkelso opened #107 "QCalendar Deleted Event Not Being Removed Immediately"
**Describe the bug**
When I delete an event object, the calendar views do not react to the removed event. At least not until you interact with the calendar such as to change the selected date. Then the deleted event is reflected in the calendar view.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codepen.io/kelso_xd/pen/GRpraMq
2. Click on one of the two delete buttons
3. See

[2020-04-25 15:56] hawkeye64 commented on #107
This is an issue with Vue. When you delete, as you have done in the example, you can immediately call `this.$firceUpdate()` to cause the removed event to go away -- as in this example: https://codepen.io/Hawkeye64/pen/WNQpVav

[2020-04-25 15:56] #107 closed

[2020-04-25 15:58] hawkeye64 opened #108 "day-height="0" does not work as documented"
When `day-height="0"`, the row should be taller based on content (like events). But, does not do this currently.

[2020-04-25 16:03] hawkeye64 commented on #108
Fixed in v1.5.4

[2020-04-25 16:03] #108 closed

[2020-04-25 22:14] hawkeye64 commented on #91
@tonjohn Looks very nice!

[2020-04-26 20:59] pikil opened #112 "q-calendar - multiple events in one day"
Hi guys,
Is that possible to provide the availability to set multiple dots within Day box in `<q-calendar />` like in Google calendar for example (Please see the example screenshot below).

![ECEAB015-9A72-43BD-A5CC-4DC401328056-640x567](https://user-images.githubusercontent.com/26779040/80319607-6a9d7580-8865-11ea-9192-7264b12acf99.png)

Thanks a lot!

[2020-04-29 12:23] hawkeye64 opened #109 "No events on workweek"
There is no event feedback on workweeks (ie: clicking on a workweek)

[2020-04-29 12:31] hawkeye64 commented on #109
Fixed in v1.5.6

[2020-04-29 12:31] #109 closed

[2020-05-06 22:54] hawkeye64 commented on #112
@pikil You mean like this?
![image](https://user-images.githubusercontent.com/10262924/81236265-0d6a9800-8fba-11ea-88c9-b0eefcb0ab5a.png)

Example here: https://quasarframework.github.io/quasar-ui-qcalendar/examples/month-view#example-Mini-Mode---Slots-(day)

Note: The content is slot rendered (evland), so you can make it whatever you want

[2020-05-06 22:54] #112 closed

[2020-05-07 00:00] pikil commented on #112
Hi hawkeye64,
Yes, that should do the trick I believe :) Thank you!
Is there any possibility to do that in `<q-date />` selector by the way?

Cheers!

[2020-05-07 16:57] hawkeye64 commented on #112
I don't think so. QDate, you can tell it there is an event on a date, and specify color. But not more than one event.

[2020-05-09 06:28] #103 closed

[2020-05-12 20:56] dlbass opened #115 "Days flow off small screens"
We first noticed this after upgrading from Quasar v1.8.6 to v1.11.1, both web mobile emulator and Capacitor app for Android show the same behavior.

I've not yet been able to find any culprit from poking around in dev tools.

![image](https://user-images.githubusercontent.com/4282090/81744282-9e34ee00-9468-11ea-8a59-ce950dcb79d6.png)

[2020-05-12 22:14] fractalfederation opened #116 "drag from one column to another for same day"
I have the day calendar, with multiple columns, one for each worker. i want to drag a job from one worker to another worker, of the same day.

i am able to pass the index of the FROM worker to the function, but not sure how to get the index of the destination worker. i am using the example demo functions. to get the FROM index, i just pass it as an argument into the q-badge @dragend.native="(e) =>

[2020-05-12 23:44] fractalfederation commented on #116
found it in documentation, sorry!

[2020-05-13 01:22] fractalfederation commented on #116
i tried drop-func, which according documentation has fourth argument for index when column-count is used. it returned undefined. sometimes timestamp object has index sometimes it doesnt, in this context it isnt there.

[2020-05-13 04:29] fractalfederation commented on #116
i just edited components/QCalendarDaily.js: and added idx as fourth arg for the onDrop function, the interval versions of the functions were missing idx. it works!

[2020-05-14 15:29] hawkeye64 commented on #115
@dlbass Thanks for letting me know about this. :heart:
It appears to be happening to the row in which has events.
Let me investigate a bit further.

[2020-05-14 15:31] hawkeye64 commented on #116
@fractalfederation Feel free to PR your changes. :heart:

[2020-05-15 20:34] hawkeye64 commented on #116
@fractalfederation Are you referring to this?
[code]
Seems to be already there unless I am confused.

[2020-05-15 23:11] hawkeye64 commented on #115
@dlbass
Before fix:
![image](https://user-images.githubusercontent.com/10262924/82103037-c7ef4e80-96ce-11ea-9edc-baa643a209e3.png)

After fix:
![image](https://user-images.githubusercontent.com/10262924/82103106-10a70780-96cf-11ea-84f1-45af6ae7b81a.png)

Will be available in v1.5.8

[2020-05-15 23:15] dlbass commented on #115
Excellent news! Can't wait to get it in our app.

On Fri, May 15, 2020, 18:11 Jeff Galbraith <notifications@github.com> wrote:

[2020-05-16 15:55] hawkeye64 commented on #115
Fixed in v1.5.8

[2020-05-16 15:55] #115 closed

[2020-05-19 09:36] msinkgraven opened #118 "Display hours in day scheduler"
I would like to have the ability to use the scheduler to view a single day with the resources on the left and the hours where the days are currently displayed.

As far as I can see, this is not currently possible, would it be possible to add this as a feature?

This is an example of what I have in mind:
https://www.bryntum.com/examples/scheduler/basic/

[2020-05-19 17:53] hawkeye64 commented on #118
@msinkgraven Interesting you should bring this up as I am working on a new "resource" view at this very moment.
![image](https://user-images.githubusercontent.com/10262924/82360854-3aaa4380-99c7-11ea-8dc3-827ead1040dd.png)
It will be available in QCalendar v2.0
The sematic verson change is because the event system has changed and will break existing if not modified (slight modifications)

[2020-05-19 17:54] hawkeye64 commented on #118
Please keep this ticket open until v2.0 is done. Thanks.

[2020-05-19 19:44] hawkeye64 opened #119 "QCalendar v2.0 RFCs"
QCalendar v2.0 is in the works!

Q. Why v2.0?
A. The event system was broken. So much so, that it was forgotten to include the actual native event (ie: mouse and keyboard events). Because this change will introduce breaking changes, and semantic versioning is followed, thus next major version would be 2.0

Q. Will the upgrading events in my current QCalendar code be difficult?
A. Not at all! For i

[2020-05-21 20:07] hawkeye64 commented on #119
v2.0 has been released

[2020-05-21 20:07] #119 closed

[2020-05-21 20:08] hawkeye64 commented on #118
v2.0 has been released with new `resource` view. Enjoy.

[2020-05-21 20:08] #118 closed

[2020-05-30 15:47] bizready opened #122 "Showing slots / events not working properly in mac/chrome"
This is a browser-related issue. I am trying to show the event on the calendar slot. After several hours of code debug finally realized that it is a browser-related issue. The event is showing up fine in the Microsoft Edge browser running on Mac Pro, but the same code base is not working in chrome running on Mac Pro.

**Chrome Browser not showing event slot properly (out of the range):**
<img widt

[2020-05-30 16:20] hawkeye64 commented on #122
@bizready But, the examples work for you on the demo site?
I don't have Mac, so can't really help you out here, but appreciate if you can figure it out.
I really do need to know if on the demo site if the examples are working properly for you.

[2020-05-30 18:51] bizready commented on #122
The issue was related to my custom css style. Thanks to @hawkeye64 for helping to identify my issue.

[2020-05-30 18:51] #122 closed

[2020-06-02 00:38] chemscobra opened #124 "Add head-day slot to views"
Hi,

I would like to change the default header in the scheduler view for a custom one. I tried with the [scheduler-day-header slot](https://quasarframework.github.io/quasar-ui-qcalendar/examples/scheduler-view#example-Slots-(scheduler-day-header)), but this only adds an element below the default header.

[2020-06-02 21:45] hawkeye64 commented on #124
@chemscobra Override it in which way? CSS? Element? I just want to understand before I go look at it.

[2020-06-03 01:02] chemscobra commented on #124
@hawkeye64, I would like to replace entirely the day header with a custom element.

[2020-06-03 12:58] hawkeye64 commented on #124
@chemscobra I'll see what I can do -- thanks, and stay tuned

[2020-06-06 12:55] bizready opened #125 "Reserved or blocked calendar slots are not disabled"
Here is the codepen https://codepen.io/bizready/pen/zYrGoPO

I am trying not to allow users to double book the timeslot. Right now, when the user clicks on the already reserved timeslot,  it gives me 'disabled:false'.  Is there any other way to find out, slot is booked already?

<img width="1411" alt="Screen Shot 2020-06-06 at 8 49 27 AM" src="https://user-images.githubusercontent.com/63766875/839

[2020-06-06 13:15] hawkeye64 commented on #124
@chemscobra How soon do you need this? Is there any rush? I have added several slots and I am working on examples (which could take a few more days).

[2020-06-06 13:17] hawkeye64 commented on #125
@bizready Thanks for reporting! :heart: I'll look into it and get back to you.

[2020-06-06 13:24] hawkeye64 commented on #125
@bizready Other non-interval calendars are able to disable days. I could add a disabled-hours/disabled-time property, but then people would want that in increments of 15 minutes, or 30 minutes. I'll have to give it some thought. Also, the developer would be responsible for dynamically changing the property with new values, based on the day.

Would this suit your needs?

Alternatively, you can chec

[2020-06-06 13:54] hawkeye64 commented on #124
will be in v2.1.1

[2020-06-06 13:54] #124 closed

[2020-06-06 13:56] hawkeye64 commented on #125
I am really thinking this needs to be in devland. The reason is this would be a big perf loss for those that don't need it.

[2020-06-06 16:15] bizready commented on #125
out of the box, I am thinking reserved or blocked time duration should behave consistently just like disabled-days, disabled-before, disabled-after.  so that devland coding has some consistency in checking for disabled.

In any case, devland has to check in the backend to make sure that there is no conflict with existing reservations; hence, I moved with the alternate approach - this implementatio

[2020-06-06 18:17] chemscobra commented on #124
@hawkeye64  There is no rush. That's fantastic, I can't wait to see the new features. :clap: .  Thank you so much for your help

[2020-06-07 13:12] hawkeye64 commented on #125
@bizready How about a function? Where the timestamp object is passed and you are able to modify it's contents first?

[2020-06-07 14:49] bizready commented on #125
Any alternate solution is ok. In my case, I went ahead with custom validation to check whether or not user selection has conflict.

[2020-06-07 14:49] #125 closed

[2020-06-08 13:13] hawkeye64 commented on #125
A property `disabled-times` could be added. But, the problem is how to handle `column-header-count`?
![image](https://user-images.githubusercontent.com/10262924/84034425-8e210900-a957-11ea-906d-84cd58617033.png)

[2020-06-09 13:35] Mausino opened #127 "Slot (scheduler-resource) - sub-resource/sub-item"
(First sorry for English)

**Is your feature request related to a problem? Please describe.**
I cant find any way how create sub-resource of row

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
A resource sometimes need sub-resource. Will great if will possible to any resource or sub-resource add the children.. that means that can be more levels or

[2020-06-15 16:49] Mausino commented on #127
@hawkeye64 exactly.. and if sub-item should have also sub-item possibility will also great..  :+1:

[2020-06-15 17:01] hawkeye64 commented on #127
@Mausino I will look into the best way to implement this. Feel free to add suggestions.

[2020-06-18 15:29] gaby64 commented on #87
bump, im still using qcalendar by copying the content of the src folder to a qcalendar folder in my project/src folder.

[code]

last time i had tried again to use the npm module it still imported all of quasar and qcalendar, creating unnecessary bloat.

[2020-06-18 16:20] gmalignon opened #128 "Increase Font Size in mini-mode, Also day selection cutoff in mini-mode."
Allow increasing the font-size / increasing the spacing in mini-mode.

I tried overriding the CSS but then spacing is incorrect and the day "jumps' when selected.

I attached a screen shot of how I would like it to end up looking (on right side) except the month & year navigation bar on the QDate component would be replaced by a month header (ie: July).

The QCalendar component is on the left side

[2020-06-18 20:54] chemscobra commented on #124
Hi @hawkeye64, I could see that you added the function, it's great! But since I am using the npm version with a Vue CLI project,  the latest version available in npm is 2.1.0. How could I update it?thanks in advance

[2020-06-19 00:15] hawkeye64 commented on #124
@chemscobra npm did not update correct;y? This has happened to me several times. Usually I have to do another release. I'll be having one shortly (tomorrow some time).

[2020-06-19 00:17] hawkeye64 commented on #87
I have plans to make things smaller. That would be v3.0. Probably around December. Sorry it has to be delayed until then, but it'll get a good rewrite with tighter optimizations.

[2020-06-19 06:23] thomassun opened #129 "Compatible with @quasar/app v2.0.0."
**Is your feature request related to a problem? Please describe.**
@quasar/app just released V2.0, after upgrading by following the instruction(https://quasar.dev/quasar-cli/app-upgrade-guide), quasar dev failed to run with an error: "Extension(@quasar/qcalendar): is not compatible with @quasar/app v2.0.0. Required version: ^1.3.0"
**Describe the solution you'd like**
I suppose there should be som

[2020-06-19 10:08] pikil commented on #129
+1

[2020-06-19 11:28] hawkeye64 commented on #129
Sorry, I am in the middle of something with QCalendar, so could not have it out in time for q/app v2. Will release shortly after more testing.

[2020-06-19 14:47] hawkeye64 commented on #129
v2.1.2 has been released - give it a try

[2020-06-19 14:47] #129 closed

[2020-06-19 19:52] pikil commented on #129
Hi hawkeye64,
Yes, working perfectly, thanks a lot!

[2020-06-23 22:09] syungkeaw commented on #116
@hawkeye64 here on both dragOverFunc and dropFunc

`domProps: {
          ondragover: (e) => {
            if (this.dragOverFunc !== void 0) {
              dragOver = this.dragOverFunc(e, interval, 'interval')
            }
          },
          ondrop: (e) => {
            if (this.dropFunc !== void 0) {
              this.dropFunc(e, interval, 'interval')
            }
          }
        }`

[2020-06-25 20:14] hawkeye64 commented on #128
@gmalignon I will look into this, but won't have any time until after Quasar.Conf the week after.

[2020-06-29 04:43] Baralabite opened #133 "@click:time/interval doesn't work for day-resource"
**Describe the bug**
When I click an interval on a day-resource (eg: 11AM for Person) no event triggers.
Best I can tell, @click:time or @click:interval should trigger. Neither work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codepen.io/baralabite/pen/eYJGdjv
2. Click on 11AM for Admin Person
3. Nothing happens
4. Click on resource (eg Admin Person)
5. Alert seen (demonstr

[2020-06-30 08:13] LaundroMat opened #134 "Allow outside days to be clickable (month)"
**Is your feature request related to a problem? Please describe.**
Although the [examples documentation](https://quasarframework.github.io/quasar-ui-qcalendar/examples/month-view#example-Disabled-Days) makes it seem as if it is not the case, next and previous month's date labels `cursor` properties in the month view are disabled by default. Also, I don't see a way of enabling them.

**Describe the

[2020-07-09 18:30] hawkeye64 commented on #134
@LaundroMat Yes, the day label is just to change the text or slotted data of the parent QBtn.
The reasoning for disabling the "outside" days (days displayed in month view, but not of the current month) was to prevent automatic navigation when showing the calendar to get User selected days.

A couple of things we can do for this:
`no-outside-days`: hides outside days (empty boxes)
`day-btn` slot: a

[2020-07-09 18:31] hawkeye64 commented on #133
@Baralabite Thanks for reporting. I will investigate as there will be a pending release soon. Thanks! :heart:

[2020-07-10 13:52] hawkeye64 commented on #116
@syungkeaw This will be resolved in next release. v2.2 should be next version.

[2020-07-10 13:52] #116 closed

[2020-07-10 17:43] hawkeye64 commented on #133
Fix will be in v2.2.0

[2020-07-10 17:43] #133 closed

[2020-07-10 17:44] hawkeye64 commented on #134
I think I will go with `enable-outside-days` and add `day-btn` slot (where needed) for good measure

[2020-07-10 20:50] hawkeye64 commented on #134
Will be available in upcoming v2.2 release

[2020-07-10 20:52] #134 closed

[2020-07-10 22:52] hawkeye64 commented on #133
@Baralabite https://codepen.io/Hawkeye64/pen/pogKdOy

[2020-07-11 13:19] LaundroMat commented on #134
Sorry I didn't reply earlier, but yes, this looks great, thanks!

[2020-07-11 13:44] hawkeye64 commented on #134
@LaundroMat I also added a `hide-outside-days` property. The docs site contains example for that and `enable-outside-days` property, as well.

[2020-07-19 15:11] hawkeye64 opened #137 "Monthly dark mode shows two borders between weeks"
![image](https://user-images.githubusercontent.com/10262924/87878177-e4925600-c99f-11ea-8d1a-1f58fccd28b3.png)

[2020-07-19 15:14] hawkeye64 commented on #137
Will be fixed in v2.2.2

[2020-07-19 15:14] #137 closed

[2020-07-19 15:34] hawkeye64 opened #138 "Day/Week dark mode shows two borders between on head-day"
![image](https://user-images.githubusercontent.com/10262924/87878669-fe816800-c9a2-11ea-9256-a75f8c3a84cc.png)

[2020-07-19 15:35] hawkeye64 commented on #138
Fix will be in v2.2.2

[2020-07-19 15:35] #138 closed

[2020-07-22 14:48] stefanvanherwijnen opened #139 "resourceStyle: only timestamp object is passed to the function"
**Describe the bug**
When using the resource-style prop, only the timestamp object is passed to the function. This should be `{ timestamp, index, resource }` according to the API and earlier behavior.
E.g. here:
https://github.com/quasarframework/quasar-ui-qcalendar/blob/dae57ff8eeb35934e42243b53d93fb874aca195b/ui/src/components/QCalendarScheduler.js#L415
There are a few other occurrences where `s

[2020-07-26 14:07] hawkeye64 commented on #139
@stefanvanherwijnen Can you provide a PR that fixes your observances?

[2020-07-26 14:08] hawkeye64 commented on #139
ie: `style = Object.assign(style, styler({ timestamp:day, index, resource }))`
Thanks :heart:

[2020-07-26 14:56] stefanvanherwijnen commented on #139
Done, I was confused by the other occurrence of `styler` but it is not related to this at all. Just a similar syntax for a different function.

[2020-07-26 15:52] hawkeye64 commented on #139
Will be released in v2.2.4

[2020-07-26 15:52] #139 closed

[2020-07-26 15:59] #97 closed

[2020-07-26 16:17] hawkeye64 commented on #128
I think if you give height/width to QCalendar that it will adjust the spacing automatically.
I'd show a codepen, but that's having issues right now. Hopefully they will have it fixed tomorrow.

[2020-07-27 15:02] saliehendricks opened #142 "Scheduler throws Duplicate keys detected: 'undefined-[n]'"
Codepen: https://codepen.io/saliehendricks/pen/ZEQZdwy

**Describe the bug**
When the resource array does not contain a label property and there are  >1 resource then js errors appears in the console.
(error per resources x days shown)

**To Reproduce**
Steps to reproduce the behavior:
1. Set qcalendar view="scheduler"
2. Add 2 or more resources:
[code]
3. Bind to the resources: :resources="rooms"

[2020-07-28 21:08] hawkeye64 commented on #142
@saliehendricks Thanks for reporting. :heart: I will look into it and see what changed.

[2020-07-29 07:28] Baralabite commented on #133
Cheers mate - thanks!

[2020-08-10 13:33] kevinmelo opened #143 "QCalendar - day view - Overflow-x"
**Describe the bug**
Don't know if it's a bug or a improvement, but when i had too much items on same time (see codepen), the `overflow-x` it's on end of calendar (i need to scroll all way down to see the `overflow-x`)

**To Reproduce**
See **Codepen:** https://codepen.io/Tydroth/pen/zYqGyNV?editors=1000

**Expected behavior**
Expected the scroll is always visible not at the end of Calendar

[2020-08-10 14:35] hawkeye64 commented on #143
@kevinmelo Yes, that is problematic. I'll see what I can do to fix this.
Also, I noticed at the end (to the right) an issue:
![image](https://user-images.githubusercontent.com/10262924/89794593-7fd0a400-dae4-11ea-8175-6c77313d7d62.png)

[2020-08-10 16:59] hawkeye64 commented on #143
@kevinmelo I didn't need to change any base code. I am adding an example to the Day View examples, but in the meantime, you can look at the codepen here: https://codepen.io/Hawkeye64/pen/KKzpYjY

[2020-08-10 16:59] #143 closed

[2020-08-10 17:08] kevinmelo commented on #143
Hey @hawkeye64 thanks for you quick response.

I saw your example, and i notice the scroll in the div is not getting all the way to the bottom of `QCalendar`

[2020-08-10 17:28] hawkeye64 commented on #143
@kevinmelo Thanks for noticing that. QCalendar needs a height that matches content. https://codepen.io/Hawkeye64/pen/KKzpYjY

[2020-08-11 13:36] hawkeye64 commented on #142
Adjusted in v2.2.5

[2020-08-11 13:36] #142 closed

[2020-08-18 17:11] moox45 commented on #127
We have the same requirements and are currently implementing a solution.
It is already half there and we are approximately going to finish until the end of the week.
We'll open a PR when it's done.

[2020-08-19 14:31] hawkeye64 commented on #127
@moox45 That's great! I have been giving this a lot of thought lately on best way to proceed, so I look forward to your PR.

[2020-08-21 17:37] Sfinx opened #148 "[q] How to get click event on calendar view cell ?"
I'd like to allow user to add/change arbitrary events by clicking at calendar view cell (weekly on for example). Imagine we have a calendar and can add/change/drop events in reactive way at it. How it can be done ?

[2020-08-22 04:41] #148 closed, assigned to nobody

[2020-08-22 06:46] Sfinx opened #149 "Week view displays only one day of the events that are extended beyond a day"
Month view displays such events correctly. Is it supposed to work in such way or this is a bug ?

[2020-08-22 07:51] #149 closed, assigned to nobody

[2020-08-26 21:54] hawkeye64 commented on #149
@Sfinx dev-land with slots is powerful and allows developers to create their own eventing system. The examples are just one way of doing it.

[2020-09-10 14:56] hawkeye64 commented on #127
This has been implemented in v2.3.0 release

[2020-09-10 14:56] #127 closed

[2020-09-11 21:05] chemscobra opened #155 "timestamp for slot in 'day-scheduler' returns {}"
in the day-scheduler view, the timestamp value for the scheduler-resource-day slot returns {}  instead the timestamp value is set in the resource.

Steps to reproduce the behavior:
1. Go to [https://codepen.io/chemscobra/pen/BaKxZzQ](https://codepen.io/chemscobra/pen/BaKxZzQ)
2. Switch calendar view between (day-scheduler and week-scheduler) with the select element
3. Compare values of timestamp a

[2020-09-20 15:51] hawkeye64 commented on #155
@chemscobra Thanks for finding this bug! Looks like the `resource` got the `timestamp` value. I will have a look as soon as I am possible. However, if you understand the code, feel free to PR a fix.
I am working on another project right now, and hope to have a release out today or tomorrow. After that, I can fix this bug, if you don't get to it before me. Let me know. Thanks! :heart:

[2020-09-21 16:16] ascmartins opened #160 "Issue running yarn dev"
Hello!
I am trying to run dev mode, but I get this when run **yarn dev**:
![image](https://user-images.githubusercontent.com/4473737/93792444-7121f480-fc2d-11ea-9272-6afd8288b6c5.png)

I've **run yarn** in **ui** and **dev** before issuing **yarn dev**
Any clue of what I am doing wrong here? Am I missing a package ?
Thanks!

____________________ UPDATE _______________________________
After make a

[2020-09-21 17:56] chemscobra commented on #155
Hi @hawkeye64,  I think I've spotted the bug. I'm gonna PR for review. Thanks

[2020-09-22 10:11] ascmartins commented on #160
Got the issue: seems like dev must use @quasar/app v1, but i may machines it was using package @quasar/app v2.x.x.

[2020-09-22 10:11] #160 closed

[2020-09-22 16:48] hawkeye64 commented on #155
v2.3.1 has been released. Again, thanks for the PR.

[2020-09-22 16:48] #155 closed

[2020-09-22 16:51] hawkeye64 commented on #155
I see with your codepen, the INDEX is still at 0. I can't remember for sure, but I think this is supposed to be the index of the resource that is being used for that slot.

[2020-09-22 16:58] hawkeye64 commented on #160
@ascmartins You must have an older version then as QCalendar has used q/app 2+ since it was released.
I think (altho not quite sure) you are trying to build the demo. In this case, the UI has to be build first.
In `ui` folder, `yarn && yarn build`, then in `demo` folder `yarn && quasar dev`

[2020-09-22 19:04] ascmartins commented on #160
@hawkeye64 thanks for your answer. I did successfully built and run demo app, worked just fine in the first try with the default settings.
As I want to add some features I needed to run it id **dev** mode as per instructions in **Building the Projects** section in **ui > README.md** file, then the issue came. I am able to run it using the q/app 1.9.6. I will try with v2.x soon and let you know how

[2020-09-22 19:53] chemscobra commented on #155
mmm, I see. I thought it was related to the index of the amount of days. I'm gonna check.

[2020-09-23 22:09] hawkeye64 commented on #160
@ascmartins ah, yes. You need q/app v2 to build the demo

[2020-09-23 22:16] hawkeye64 commented on #155
@chemscobra It may be. I'll have to double-check the code to make sure.

[2020-09-30 17:16] IlCallo opened #167 "Some docs inaccuracies"
**Describe the bug**
`day-body` named slot returns `timeStartPos` and `timeDurationHeight` as scoped parameters (same as `interval` scoped parameters), but this is not written in the QCalendar API section.

On the same topic, `timeDurationHeight` description says you must provide the duration in seconds, while from some experiments it seems minutes is the correct measure unit. Dunno if the unit ch

[2020-09-30 17:22] IlCallo commented on #167
I see both methods are documented into `methods` tab, so are the scope parameters deprecated in some way?
I used those since they're used into https://quasarframework.github.io/quasar-ui-qcalendar/examples/day-view#example-Slots

[2020-09-30 18:28] IlCallo opened #168 "Add TS typings"
**Is your feature request related to a problem? Please describe.**
QCalendar doesn't have typings yet

**Describe the solution you'd like**
Provide TS types natively

**Describe alternatives you've considered**
I created a shim which others can use and expand, but don't have time to type the whole public API

[code]

[2020-10-01 17:17] hawkeye64 commented on #167
@IlCallo Thanks for finding these. I have updated the JSON API and pushed to repo. no release yet, so `quasar describe QCalendar` will still have inaccuracies. But, the demo is good.

[2020-10-07 14:20] hawkeye64 commented on #167
Adjustments will be in v2.3.2

[2020-10-07 14:20] #167 closed

[2020-10-09 13:01] IlCallo opened #171 "docs: "@click:time" scope wrong description"
I'm using `@click:time` event and I noticed that the `data.scope`, described as "The timestamp object" into the API, is actually a more complex object, containing `index`, `timeDurationHeight`, `timeStartPos`, `timestamp`

This is different from other click events like `@click:day`, where `scope` is really the timestamp object
I guess this is directly related to #167

[2020-10-10 14:11] hawkeye64 commented on #171
@IlCallo Thanks for the inof. Keep them rolling!
Besides the information you mentioned, if using one of the `resource` views, you will also get the `resource` object. The `index` is also only applicable if using the `column-count` property.
I have made adjustments to the JSON API. Thanks again for keeping me on my toes and validating what you can.
This is where community teamwork shines. :100:
Wil

[2020-10-10 14:11] #171 closed

[2020-10-12 13:46] hawkeye64 opened #172 "Month mini-mode: Workweek numbers don't line up with dates"

[2020-10-12 13:47] hawkeye64 opened #173 "In certain edge-cases, value ('input'/v-model) is emitted twice"

[2020-10-12 13:47] hawkeye64 opened #174 "Month view (demo): selection appears to be broken"

[2020-10-12 13:48] hawkeye64 opened #175 "date button: clicking multiple times causes multiple input events"
It should only emit 'input' if the date actually changes

[2020-10-12 13:49] hawkeye64 opened #176 "3day view (demo): navigation changes on clicked date"
Possibly need a `prevent-navigation` property if the user wants to handle their own navigation (prev/next)

[2020-10-12 13:50] hawkeye64 opened #177 "Month view (demo): color example not working"

[2020-10-12 13:51] hawkeye64 opened #178 "Add Drag and Drop support to resource view"
Other views have this, but was missed when Resource view was created.

[2020-10-12 14:10] hawkeye64 opened #179 "When Month view mini-mode="auto" with breakpoint, should emit change"
This would be helpful for developers to know when the Month view has gone into/out of mini-mode.

[2020-10-12 14:28] hawkeye64 commented on #173
Fix will be in v2.4.0

[2020-10-12 14:28] #173 closed

[2020-10-12 14:28] hawkeye64 commented on #172
Fix will be in v2.4.0

[2020-10-12 14:28] #172 closed

[2020-10-12 14:28] hawkeye64 commented on #175
Fix will be in v2.4.0

[2020-10-12 14:28] #175 closed

[2020-10-12 15:26] hawkeye64 commented on #178
Add DnD and Mouse events to resource intervals #164 won't be needed

[2020-10-12 17:17] hawkeye64 opened #180 "Resource view sometimes exceeds parent width"

[2020-10-12 17:55] hawkeye64 commented on #180
Fixed in v2.4.0

[2020-10-12 17:55] #180 closed

[2020-10-12 17:56] hawkeye64 commented on #178
Added in v2.4.0

[2020-10-12 17:56] #178 closed

[2020-10-12 18:00] hawkeye64 commented on #128
@gmalignon This should be resolved when v2.4.0 is released. If, after the release, you are still finding it to be an issue, feel free to re-open this issue.

[2020-10-12 18:00] #128 closed

[2020-10-12 20:39] hawkeye64 commented on #174
Fixed in v2.4.0

[2020-10-12 20:39] #174 closed

[2020-10-21 14:42] moox45 opened #182 "Scheduler: Add custom height for Resources"
**Is your feature request related to a problem? Please describe.**
When resource is expanded, children get shown with the same height as the parent.

**Describe the solution you'd like**
I would like to specify a resourceHeight property on each child, and the childResource to be rendered respectively.

**Additional context**
First of all thanks for making the calendar expandable to the n-th level

[2020-10-21 21:59] hawkeye64 commented on #182
@moox45 So, what you are asking for is if there was a key in the resources for each resource, like `height` that you can define the height of each resource?

For example:
[code]

[2020-10-22 08:41] moox45 commented on #182
Yes exactly, that would be great!

[2020-10-22 15:24] hawkeye64 commented on #182
@moox45 I will get to it as soon as I am able

[2020-10-24 16:49] hawkeye64 commented on #182
Added in v2.5.0

[2020-10-24 16:49] #182 closed

[2020-10-25 07:36] xrnv2 opened #186 "Lack of .q-active-date class when theme different than default"
Hello,

On month view when theme is different than default, class .q-active-date not exist

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://quasarframework.github.io/quasar-ui-qcalendar/examples/month-view#title-Themes
2. Inspect selected number (.q-active-date class exist)
3. Click on change to theme dark
4. Inspect selected number
5. See lack of .q-active-date class

Thanks fo

[2020-10-25 16:20] hawkeye64 commented on #186
@xrnv2 Thanks for finding this obscure bug. I love it when the community helps out! :heart:
Will be fixed in next release (maybe v2.6.0 or v2.5.1)
![image](https://user-images.githubusercontent.com/10262924/97112758-b3ff3e00-16ab-11eb-8397-0ceaa1f9b8ab.png)

[2020-10-25 16:20] #186 closed

[2020-10-26 15:08] Dealerpriest opened #187 "How to access the QCalendar Exports"
Hello. I might be really stupid here. But it's not clear to from reading the documentation, how to call the utility functions that should be exported according to the documentation here:
[https://quasarframework.github.io/quasar-ui-qcalendar/docs#QCalendar-Exports](https://quasarframework.github.io/quasar-ui-qcalendar/docs#QCalendar-Exports)

Would appreciate a pointer in the right direction.
I've

[2020-10-26 16:16] Dealerpriest commented on #187
Nevermind. I managed to get it working by instead writing:
[code]

(As opposed to `import { QCalendar } from '@quasar/quasar-ui-qcalendar';`)

[2020-10-26 16:16] #187 closed

[2020-10-26 22:48] hawkeye64 commented on #187
@Dealerpriest Typically you should not import all of QCalendar. Those examples are like that because Codepen is UMD.

Normally, you find the functions you want to use and:

[code]

[2020-10-28 10:59] Dealerpriest commented on #187
Thanks for the tip! I was actuay thinking to myself that this would affect tree shaking negatively. Thanks for the confirmation and for the solution!

[2020-11-08 16:52] ontwikkelfabriek opened #193 "For every example the codepen is broken"
For example the codepen is broken. Blank screen with error's in console:

```Uncaught TypeError: Cannot read property 'body' of null```

https://quasarframework.github.io/quasar-ui-qcalendar/examples/day-view

Tested on firefox and chrome.

[2020-11-08 16:57] hawkeye64 commented on #193
@ontwikkelfabriek I just pushed v3.0.0 and it sometimes takes a while for the new npm package to propagate
They appear to be working for me. Check the examples later and if fine, then close this ticket. Otherwise, I'll need more investigation.

[2020-11-08 17:05] ontwikkelfabriek commented on #193
Ah you are right, it works again. Nice update btw!

[2020-11-08 17:06] #193 closed

[2020-11-08 17:10] hawkeye64 commented on #193
@ontwikkelfabriek Thanks :heart:

[2020-11-08 17:17] hawkeye64 opened #194 "Calendar circles are not round with Safari"
![image](https://user-images.githubusercontent.com/10262924/98471726-8b973980-21ab-11eb-944f-2d80e55b84ca.png)

[2020-11-08 17:19] hawkeye64 commented on #194
Safari on iOS
![image](https://user-images.githubusercontent.com/10262924/98471785-f21c5780-21ab-11eb-9ee2-545a2f75ed87.png)

[2020-11-08 17:20] hawkeye64 commented on #194
Chrome on iOS
![image](https://user-images.githubusercontent.com/10262924/98471816-16783400-21ac-11eb-98f2-fc94ae6ab8f3.png)

[2020-11-08 18:26] hawkeye64 commented on #177
There is no longer a `color` prop as of v3.0.0, so closing this.

[2020-11-08 18:26] #177 closed

[2020-11-08 18:26] hawkeye64 commented on #176
This is expected, but I think we might need a `prevent-navigation` property

[2020-11-08 21:31] hawkeye64 commented on #168
@IlCallo I have started this, but may need some mentoring

[code]
This part doesn't look right, as the QCalendar is just an object that doesn't use `vue.extends` like Quasar components do.

If I did the definitions for `timestamp.js`, can I create a `timestamp.d.ts` in the same folder? Would it be found? I don't understand how `src/shims-qcalendar.d.ts` would work.

Lastly, I really don't know ts,

[2020-11-08 21:52] hawkeye64 commented on #194
Resolution coming soon
![image](https://user-images.githubusercontent.com/10262924/98485214-f78c9880-21d1-11eb-92f5-2a7e08956604.png)

[2020-11-08 22:01] hawkeye64 commented on #194
Fixed in v3.0.1

[2020-11-08 22:01] #194 closed

[2020-11-13 17:53] hawkeye64 commented on #168
in v3.1.0 - please give them a try

[2020-11-13 17:53] #168 closed

[2020-11-16 11:37] IlCallo commented on #168
Thanks! Will try them out (and correct if needed) next time I touch the project which uses this extension

[2020-11-16 16:45] hawkeye64 commented on #179
Added in v3.1.2

[2020-11-16 16:45] #179 closed

[2020-11-16 21:54] hawkeye64 commented on #168
@IlCallo If there is anything to correct, update the QCalendar.json "tsType" key as they are generated from there. If you need somehting new, add to the `ui/types/types.d.ts` file. It automatically imports any new typing found in QCalendar.json from that file.

[2020-11-18 22:54] hawkeye64 opened #197 "mini-mode is broken"
![image](https://user-images.githubusercontent.com/10262924/99598149-5b734600-29b6-11eb-9cc0-17618c6ad0c3.png)

[2020-11-18 23:08] #197 closed

[2020-11-19 12:35] alexpvieira opened #198 "Sass error on version 3.1.4"
After updating to version 3.1.4 I got the following error when starting the project with quasar dev:

![image](https://user-images.githubusercontent.com/11370643/99667023-e9047380-2a52-11eb-87c1-f6089a2ef745.png)

I tried to fix the file on the error but this only introduced more errors.

[2020-11-19 14:08] hawkeye64 commented on #198
@alexpvieira I am pretty sure this is related to the issue quasar had with the css processor. Currently switching from "node-sass" (deprecated) to "sass".
Can you post your `quasar info` for me please?

[2020-11-19 16:55] hawkeye64 commented on #198
Something is quite not right. It says line 276, but that file only has 262 lines, and as you can see here, it's indented 4 spaces
![image](https://user-images.githubusercontent.com/10262924/99697874-5dd4af00-2a4d-11eb-96ff-4f14df4ca11f.png)

[2020-11-20 20:34] speasley commented on #198
Same issue here.

[2020-11-20 20:55] hawkeye64 commented on #198
@alexpvieira @speasley I am not sure what the issue is. I created a new project:
[code]
ran through all the questions:
[code]
and then modified `pages/Index.vue` to look like this:
[code]
then
[code]
and the results are this:
![image](https://user-images.githubusercontent.com/10262924/99849014-052e1080-2b38-11eb-8ecf-6415f877288d.png)

Can you both try these steps and see if you can re-create your

[2020-11-20 20:58] hawkeye64 commented on #198
Just to be clear, I also ran
[code]
then
[code]
and still looks like the image above when I go to http://localhost:4000

[2020-11-20 21:06] hawkeye64 commented on #198
One other thing to try out. Delete your node_modules and yarn.loc/package-lock.json and re-install
I think there is some issue with you having partial updates. The last time `.q-calendar-daily__day-interval--droppable` was written out fully was when QCalendar was using Sass variables, which have now all gone to css vars

[2020-11-20 21:06] hawkeye64 commented on #198
and, using `npm` or `yarn`?

[2020-11-20 21:07] hawkeye64 commented on #176
For now, anyone not wanting this behavior can use the `no-active-date` property.

[2020-11-20 21:07] #176 closed

[2020-11-20 22:06] speasley commented on #198
This is interesting. Locking `quasar/app` to version 2.0.8 avoids this error. 2.1.0 throws the error.

[2020-11-23 16:09] lmfmaier opened #203 "Change to (Month) day-height does nothing"
I don't know if this is exactly a bug, but I can't figure out how to make the day cells grow in height, either a fixed height or grow to content. I am using the month view

The "day-height" prop does not seem to work, it does set a height on the day cell but the week row or the whole month view do not grow in height accordingly, content in the day cell is hidden

This can be reproduced in the Code

[2020-11-23 19:08] dlbass opened #204 "Day cells can run off small screens"
When using the month view on a phone screen, it is possible to cause the day cells to flow off screen.

![image](https://user-images.githubusercontent.com/4282090/100004087-9990b100-2d8c-11eb-9600-5ab5155746f8.png)

Comparing V3 with V2, I see that the class _.q-calendar-weekly__week-days_  lost its `max-width: 100%` and instead has `min-width: 100%`. I changed `min-width` back to `max-width`, but

[2020-11-23 20:45] hawkeye64 commented on #204
@dlbass Thanks for reporting this! :heart:
I am working on a fix for several things and will get this one as well.

[2020-11-23 21:39] hawkeye64 commented on #203
@lmfmaier Thanks for reporting! :heart: I am worink on a fix right now. Just doing a LOT of extensive testing before it is released.

[2020-11-23 22:17] hawkeye64 commented on #203
Fixed in v3.1.5

[2020-11-23 22:17] #203 closed

[2020-11-23 22:18] hawkeye64 commented on #204
Fixed in v3.1.5

[2020-11-23 23:23] alexpvieira commented on #198
After locking the library on the newest version my problem was resolved. I'm not sure if it was a problem with versions but everything is working now.

[2020-11-23 23:23] #198 closed

[2020-11-23 23:45] hawkeye64 commented on #198
Seems the sass for QCalendar is from an older version. I owuld uninstall and reinstall QCalendar.

[code]

[2020-11-24 06:07] lmfmaier commented on #203
Thanks Jeff!

[2020-11-24 13:38] #204 closed

[2020-11-25 16:24] hawkeye64 opened #205 "Resource view doesn't show scrollbars"
You are unable to scroll horizontally or vertically

[2020-11-25 17:00] hawkeye64 commented on #205
Fixed in v3.1.6

[2020-11-25 17:01] #205 closed

[2020-11-27 12:54] psarin opened #206 "Force re-render of a specific resource / row"
**Is your feature request related to a problem? Please describe.**
I believe the request would be new functionality as I don't see anything in docs referring to this issue. I would like a way to refresh / re-render one single row / resource / interval row in the calendar.

As background, I am using day-resource view with left (resource) side showing a Room, and the right (interval) side showing ti

[2020-11-27 18:30] FlorinBadea opened #207 "Quasar Calendar: Select a time interval"
Is it possible to add the option to select a time interval, using holding click? (I understood that now is not possible)

eg: outlook calendar

![image](https://user-images.githubusercontent.com/3803202/100476702-f4107100-30ee-11eb-94d7-f57160ea8430.png)

[2020-11-27 19:02] hawkeye64 commented on #206
@psarin Any chance you can make a codepen? https://codepen.io/Hawkeye64/pen/RwwwKQL

[2020-11-28 13:22] martinfruehmorgen commented on #11
Hi there,
I think there is a problem with the scrolling behaviour for the month view. Shouldn't it scroll with the day-panel sticked at the top?

See codepen here
https://codepen.io/martinfruehmorgen/pen/BaLyzvz

Thanks
Martin

[2020-11-29 13:03] hawkeye64 commented on #11
@martinfruehmorgen Month view does not have a "scrolling behaviour", because it is reactive for height and width.
You can make it scroll, but you have to change some more styles.
https://codepen.io/Hawkeye64/pen/rNMavar

[2020-11-29 14:17] martinfruehmorgen commented on #11
Thanks, @hawkeye64
It would be great to have a sticky header, as sometimes there can be many events and the days should stay visible.

The same with the custom-scheduler if the :max-days is f.e. set to 60 and therefore the intervals are too narrow as the width is also reactive in this view.
It would be great to have a scrollbar there, too when setting a fixed interval-width.

Do you see any way th

[2020-11-29 18:10] hawkeye64 commented on #207
@FlorinBadea Added in v3.2.0

[2020-11-29 18:10] #207 closed

[2020-11-29 18:54] psarin commented on #206
Yes, will try to get you a code sample - will have to refactor / simply my logic before I can create an example.

FYI, I was able to do a workaround by using an Observable when the resources are created but I'm not sure if this will be the best / most performant way to do this.

[2020-11-29 22:03] hawkeye64 commented on #206
@psarin My problem is I am not sure if I am visualizing the same thing you are and I'd rather be on the same "page" before trying to resolve something that may or may not be correct.
I do truly appreciate it if you can get a codepen together and then we can talk more.
Are you on Discord? Same name? When you have the codepen, we can try a Discord chat while looking at the pen at same time.

[2020-11-29 22:06] hawkeye64 commented on #11
@martinfruehmorgen Can you add a ticket for it and explain exactly what you need and why?

[2020-11-30 08:59] martinfruehmorgen opened #208 "Scheduler view, min width of day cell"
Hello,

like in the resource view (x-axis time values with fixed width and scrollbar for the calendar if the width exceeds the screen width), it would be great to have the same for the scheduler.

See codepen here
https://codepen.io/martinfruehmorgen/pen/YzGPLbN

If I could set a min-width for a day cell, I would like to see a scrollbar while the resource and the day header are sticky.
This helps

[2020-11-30 13:00] FlorinBadea commented on #207
nice, thanks

[2020-11-30 13:43] hawkeye64 commented on #208
@martinfruehmorgen Thanks for the feedback. :heart: I'll look into this. Unfortunately, at the moment, it may have to wait for the weekend.

[2020-11-30 14:38] martinfruehmorgen commented on #208
Thank you!

Having a lot of resources and events, do you see a chance to implement a virtual scrolling option for scheduling and resource-view containers which exceed the screen width - this means only visible events (and columns) are rendered like in the virtual scroll of the q-table.

Thanks a lot!
Martin

[2020-11-30 21:25] hawkeye64 commented on #208
@martinfruehmorgen Having virtual scroll certainly would be nice, but truthfully I can't see it happening until after the next major version which will be a Vue 3 upgrade (after Quasar is converted to Vue 3). If you know how to implement, feel free to PR.
I feel I need to add another prop so that custom-interval calendars (scheduler, etc) can be allowed to go off-screen.

[2020-12-01 05:37] baramofme opened #209 "warn property function name does not exist on ... , when using QCalendar methods in Typescript env"
**Describe the bug**
When I using exported QCalendar methods in typescript, It will warn  'TS2339: Property 'parseDate' does not exist on type 'typeof import("C:/Users/Name/WebstormProjects/hanhwa-consultant-web/node_modules/@quasar/quasar-ui-qcalendar/dist/types/index")''

**To Reproduce**
Steps to reproduce the behavior:
1. Install qusar with quasar-cli with typescript env.
2. Install quasar-ui-

[2020-12-01 13:41] hawkeye64 commented on #209
Thanks for reporting :heart:. I will look into this, but first, you shouldn't import all of QCalendar. I had to do it that way in the examples for UMD/Codepen to work. Just import what you need for best tree-shaking results.

[2020-12-01 13:45] hawkeye64 commented on #209
@baramofme I am not a typescript expert, can you tell me if this is incorrect and if so, what should it look like:
[code]

[2020-12-01 16:39] hawkeye64 commented on #209
If I recall properly, the `parseDate` would be part of the Timestamp functions. Try that instead.

[2020-12-01 16:41] hawkeye64 commented on #209
And your QCalendar above, is all the exports, including QCalendar, so you would have `QCalendar.QCalendar` ...which looks incorrect

[2020-12-01 16:42] hawkeye64 commented on #209
Maybe try
[code]

[2020-12-01 19:18] hawkeye64 commented on #209
Fixed in v3.2.1 - or, at least I hope it is. Please let me know. Thanks.

[2020-12-01 19:18] #209 closed

[2020-12-04 12:16] psarin commented on #206
Hi, so I was able to create a sample at: [https://codepen.io/psarin/pen/GRjoXXK?editors=1010](https://codepen.io/psarin/pen/GRjoXXK?editors=1010) (unfortunately, wasn't able to save under yours).

So this version works, in the sense that you can click the checkbox on the left and it will show/hide the note on the right side. I made it work using an Observable in VueJS2 (see the showNote property)

[2020-12-04 14:15] hawkeye64 commented on #206
@psarin Thanks for doing that (btw, looks really nice!)
I will look at this sometime today to see if I can fully understand the issue. It's morning here and just got up.

[2020-12-05 17:31] hawkeye64 commented on #208
@martinfruehmorgen Please review and let me know what you think.
![q-calendar-scheduler--cell-min-width--and--sticky](https://user-images.githubusercontent.com/10262924/101259261-06893c80-36e5-11eb-8876-4fc8c3f7b5b3.gif)

[2020-12-05 17:55] martinfruehmorgen commented on #208
@hawkeye64 That looks great!

Thanks a lot!
Martin

[2020-12-05 20:27] renaudham opened #211 "not compatible with recent quasar app"
when building Quasar with latest Quasar app,
the extension is rejected

 App · Running "@quasar/qcalendar" Quasar App Extension...
 App · ⚠️  Extension(@quasar/qcalendar): is not compatible with @quasar/app v2.1.9. Required version: ^1.3.0

[2020-12-05 20:37] renaudham commented on #211
plus some SASS errors
including this

 error  in ./node_modules/@quasar/quasar-ui-qcalendar/src/index.sass

Module build failed (from ./node_modules/sass-loader/dist/cjs.js):
SassError: Top-level selectors may not contain the parent selector "&".
    ╷
199 │ ┌ .q-dark div, .body--dark div, .q-calendar--dark,
200 │ └   &.q-calendar-daily, &.q-calendar-agenda
    ╵
  node_modules\@quasar\quasar-ui-q

[2020-12-05 23:12] hawkeye64 commented on #211
@renaudham You're out-of-sync remove your node_modules folder and yarn.lock/package-lock.json and rerun your install.
But, I am curious as to what version of `@quasar/quasar-ui-qcalendar` you have installed and as whether you are using `yarn` or `npm`?

Just so you know, the sass in question looks like this:
[code]

https://github.com/quasarframework/quasar-ui-qcalendar/blob/dev/ui/src/css/calenda

[2020-12-05 23:12] #211 closed

[2020-12-05 23:27] hawkeye64 commented on #208
Released in v3.3.0

[2020-12-05 23:27] #208 closed

[2020-12-05 23:29] hawkeye64 commented on #208
@martinfruehmorgen If you feel like buying me a beer :)
https://www.paypal.com/paypalme/hawkeye64

[2020-12-06 22:46] hawkeye64 commented on #206
@psarin I finally have been able to take some time and look into this. So, what's happening is your data is not reactive. You have done that with the checkbox, so when it is toggle, Vue gets notified to redraw.
There are somethings that you can do:
1. Store your data in a Vuex store
2. Store your data in the `data()` method as an array. When adding/removing items from the array, use the `splice` c

[2020-12-06 22:46] #206 closed

[2020-12-07 10:14] renaudham commented on #211
Hi

right I was on a version before 3, so it was not updated to recent automatically.
Ok now

great job

[2020-12-08 10:08] martinfruehmorgen opened #216 "Month View Sticky Scroll"
Hello,
it would be great to have also in the month view a sticky scrolling behaviour to have the header row always visible.
See the codepen here:
https://codepen.io/martinfruehmorgen/pen/yLaJqMR

Thanks!
Martin

[2020-12-08 19:12] hawkeye64 commented on #216
@martinfruehmorgen It'll be a while before I do this. I rushed the other one for scheduler, but there are others that need it first where they can specify `max-days` property.

[2020-12-10 15:43] martinfruehmorgen opened #217 "Scheduler View Interval slots"
Hello,

To be able to have multiday events also in the Scheduler view, I think it is necessary to implement the interval slot also for the scheduler view like it exists in the resource-view.
The interval would then come from the startDate until the startDate+maxDays-Prop.

Any chance to implement that?

Thanks
Martin

[2020-12-10 22:11] hawkeye64 commented on #217
@martinfruehmorgen Probably, yes, but I am slammed atm. I'll see when I can get onto it.

[2020-12-12 16:09] hawkeye64 opened #219 "Scheduler header has too much height"
It's looking like this:
![image](https://user-images.githubusercontent.com/10262924/101988852-a866d700-3c59-11eb-90a9-98905976bdad.png)

When it should be looking like this:
![image](https://user-images.githubusercontent.com/10262924/101988864-c2081e80-3c59-11eb-9460-2e5732462cfa.png)

[2020-12-12 16:10] hawkeye64 opened #220 "Scheduler days are off when no scrollbar present"
![image](https://user-images.githubusercontent.com/10262924/101988896-e3690a80-3c59-11eb-8e8c-1e952eec70e2.png)

[2020-12-12 16:50] hawkeye64 commented on #220
Fixed in v3.3.1

[2020-12-12 16:50] #220 closed

[2020-12-12 16:50] hawkeye64 commented on #219
Fixed in v3.3.1

[2020-12-12 16:50] #219 closed

[2020-12-12 19:53] scarfaceablo commented on #217
Hi,

would it also be possible to implement multiday events in day-resource view ?

And do you maybe know when you could get to it ?

Realy great quasar extension btw

Thanks a lot

[2020-12-16 15:16] hawkeye64 commented on #217
@scarfaceablo I am currently in the process of converting QCalendar to Vue3. I really did not know how much work this was going to be. Breaking everything down into composables is actually a lot of work.

[2020-12-16 15:38] hawkeye64 opened #221 "QCalendar to use Vue 3"
This is just a ticket for informational purposes. You can discuss, make suggestions, etc. here for the conversion.

# QCalendar size
This has always been a bit of a problematic issue. The main QCalendar component is a wrapper for all other calendar components, thus bringing in all other calendar components which makes it difficult to tree-shake. The issue is even a bit worse, because QCalendar has

[2020-12-16 15:56] hawkeye64 commented on #221
The conversion to Vue 3 has begun. This is actuually an incredible amount of work breaking everything down into composable units.
![image](https://user-images.githubusercontent.com/10262924/102372464-723c9680-3f7c-11eb-8e5f-d754bd343e35.png)
![image](https://user-images.githubusercontent.com/10262924/102372542-86809380-3f7c-11eb-9fcb-0d814a06c9db.png)

[2020-12-16 19:00] pikil commented on #221
We are using three <q-calendars /> in different panels as all of them have different <templates /> for events anyway. I would suggest to have it split into the different parts as you suggest. The naming looks clear as well - pretty straightforward.

If the one does not use <q-calendar /> and uses only <q-calendar-day />, <q-calendar-week />, etc., that would mean that that general <q-calendar /> w

[2020-12-17 12:31] hawkeye64 commented on #221
@pikil yes, exactly

[2020-12-17 21:16] pikil commented on #221
You can create these templates in the current version and send a message to the console to encourage developers to switch to those already, maybe? So, most of the people would be ready for the new version. Would that work?

[2020-12-17 21:23] hawkeye64 commented on #221
@pikil Yes, they are in the current version, but they lack functionality in the QCalendar wrapper. Plus, several of them have overlapping code (in mixins) that are not used. And, some of the mixins are several layers deep. Composables will clean that up and the size should come down considerably. But, as I mentioned above, I may keep the QCalendar wrapper for those needing an in-place calendar tha

[2020-12-23 05:22] flowt-au opened #222 "Question: How to programatically "move" an event in the calendar"
Thanks for the component which I am playing with.
Based on the Month view "Day slots" example I have a test calendar that I am populating with an array of events, just as the example does. I would like to be able to programmatically "move" an event to another date by setting a new date.

I tried just changing the `date` property in the data `events` array but it didn't move. As I am also pretty ne

[2020-12-23 05:37] flowt-au commented on #222
OK, I think I have solved it.

      <q-calendar
        v-model="selectedDate"
        :key="calendarKey"   <===== Added this
        :now="now"
        :weekdays="[1, 2, 3, 4, 5, 6, 0]"
        view="month"
        locale="en-au"

then a method:

    forceRerender () {
      this.calendarKey += 1
    }

then a button click handler to test with

    onTestClick (e) {
      this.events[3].date = '

[2020-12-23 21:57] hawkeye64 commented on #222
@flowt-au Yes, you need to force Vue to update in some way. You can do that by as you said, change a key, or `this.$forceUpdate()` after a change. The preferred method would be to make sure all of your events are observable (ie: after creating an event, use `Vue.observable`) on the event to make it reactive, then a change to the reactive event will force an update by Vue just like any other reacti

[2020-12-23 21:57] #222 closed

[2020-12-24 01:01] flowt-au commented on #222
Thanks Jeff, I will explore those options. Still learning, so I very much appreciate your help.
Have a great Christmas if that's your thing!
Murray

[2020-12-27 20:53] hawkeye64 commented on #221
I have updated the initial message for sticky (cell-width), inline vs stacked and aria.

Almost done QCalendarDaily and in lighthouse testing it is more than twice as fast (using Vite, while I wait for Quasar's vue 3 release).

[2020-12-27 21:09] pikil commented on #221
@hawkeye64 That's awesome, thank you! Let me know if something needs to be tested - I am happy to!

[2020-12-28 13:38] hawkeye64 commented on #221
This is normally what a week calendar looks like:
![image](https://user-images.githubusercontent.com/10262924/103217873-e9582000-48d6-11eb-9890-d83627024e40.png)

But, with new `day-header` property set to `inline` (default: `stacked`) and with new `weekday-align` set to `right` and `date-align` set to `left`, you get this:
![image](https://user-images.githubusercontent.com/10262924/103218039-3b00

[2020-12-28 13:40] hawkeye64 commented on #221
Thanks for the offer @pikil - still have all the other calendars to do. I'll be putting it in a branch soon enough and you can use it via github instead of npm. For now, it is sitting in a private repo while I get work done on it.

[2020-12-28 13:43] hawkeye64 commented on #221
Incidently, this is stacked with left alignment on both:
![image](https://user-images.githubusercontent.com/10262924/103218252-c67a3b80-48d7-11eb-8098-1c0c930454ef.png)

You see the center alignment above, so this is right align on both:
![image](https://user-images.githubusercontent.com/10262924/103218305-e01b8300-48d7-11eb-8ef6-9b3cec3be85a.png)

or, mix-and-match:
![image](https://user-images.g

[2020-12-28 13:45] hawkeye64 commented on #221
I've also added the ability to select the date button via Enter and Space keys, for accessibility purposes (since you can now tab/shift-tab focusable bits)

[2021-01-01 16:30] hawkeye64 commented on #221
I have updated the inline vs stacked to include `inverted`.
Here is a few images to explain it all:
![image](https://user-images.githubusercontent.com/10262924/103442372-c8633800-4c12-11eb-9c93-b1620472fb07.png)
![image](https://user-images.githubusercontent.com/10262924/103442377-d4e79080-4c12-11eb-9ba5-4224153651a2.png)
![image](https://user-images.githubusercontent.com/10262924/103442380-e16be9

[2021-01-02 22:03] pikil commented on #221
The last option works just fine from my feeling. Any (not only q) week-calendar is no use with the narrow screens anyway, so I would suggest anyone to set a min-width of around 600px for that one.

[2021-01-17 20:15] hawkeye64 commented on #221
Trying to improve the drag-and-drop (needs improvement), this is first looks:

https://user-images.githubusercontent.com/10262924/104854796-ffe60b80-58c5-11eb-9207-c4bea84d4bb2.mp4

[2021-01-29 14:42] ArmanHashemi opened #223 "RTL and Persian Date"
**How can I make this calendar RTL and Persian?**

[2021-01-29 17:58] hawkeye64 commented on #223
@ArmanHashemi Sorry, that is currently not supported.
I will keep this ticket open as it could be under consideration at some point.

[2021-01-29 23:18] ArmanHashemi commented on #223
Thanks
If possible, guide me to do this myself
And publish it for others

[2021-01-31 18:44] hawkeye64 commented on #223
@ArmanHashemi Don't bother right now. I have been working weeks now to convert QCalendar to Vue 3. Let's see what we can do after the v4.0 beta release of QCalendar.

[2021-02-01 14:18] DarwinCheese opened #224 "Long-press and normal click/touch on the mini-mode calendar"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I've been using QCalendar for a while now and I was wondering if I could use the events on the mini-mode to listen to a longpress and a normal click. This is currently not possible if you have the smallest mode (off the mini-mode) on your a

[2021-02-04 14:59] hawkeye64 commented on #224
@DarwinCheese Fixed in v3.3.5 (will be releasing soon)

[2021-02-04 15:03] #224 closed

[2021-02-04 15:32] hawkeye64 commented on #224
released!

[2021-02-04 20:30] hawkeye64 commented on #221
The "next" version of QCalendar that will support Quasar v2 and Vue v3 can be seen here: https://github.com/quasarframework/quasar-ui-qcalendar/tree/next.
Still plenty of work to be done.

[2021-02-18 08:04] ElectroLutz commented on #221
Is there a way to test the next branch on my private project (even if it's not completely ready yet)?

[2021-02-18 10:07] susnux commented on #221
You could add this repository as a submodule (e.g. `/deps/quasar-ui-qcalendar`) and add it to your package.json like this:
`"@quasar/quasar-ui-qcalendar": "file:deps/quasar-ui-qcalendar/ui"`
Add a boot file to your quasar project with [this content](https://github.com/quasarframework/quasar-ui-qcalendar/blob/next/app-extension/src/boot/register.js).

(This is easier than using the app-extension, a

[2021-02-18 15:30] susnux opened #229 "[next] [question] Scope of slots"
In version 3.x the scope of a slot was `scope: {timestamp...}`, for example:
[code]

Currently the scope of a slot in the next branch is `{scope: {timestamp}}`, so it will become this:
[code]
or
[code]

Was this intended or is this extra level an issue?

[2021-02-18 16:00] hawkeye64 commented on #221
I haven't had a lot of time to work on it lately as other projects have taken my time.
I'll be getting back onto it as soon as I can as I would like to release it as same time as Quasar v2 or shortly there after.
Would anyone be interested in a live meetup to go over new and modified features?

[2021-02-18 16:03] hawkeye64 commented on #229
@susnux It's on purpose:
1. Consistency and familiarity
2. So the same dat can be used with mouse events
[code]
`event` is added for mouse events and drag-and-drop

[2021-02-18 16:03] #229 closed

[2021-03-02 13:44] anli-xsigns commented on #221
Yes :-)

[2021-03-02 19:21] anli-xsigns commented on #221
I tried this and running `quasar dev` throws

This dependency was not found:

* @quasar/quasar-ui-qcalendar in ./node_modules/@quasar/quasar-app-extension-qcalendar/src/boot/register.js

I don't want to edit register.js because I think this should resolve automatically. I'm using quasar 2.0.0-beta8. My package.json looks like

[code]
and quasar.extensions.json:
[code]

[2021-03-02 19:55] hawkeye64 commented on #221
@anli-xsigns
run `yarn link` in both `ui` and `app-extension`
In your project run:
`yarn link "@quasar/quasar-ui-qcalendar"` and
`yarn link "@quasar/quasar-app-extension-qcalendar"`
Hopefully I got them right. When running `yarn link` in the above folders, it tells you what to do.
Other than that, I usually set an alias (which is sometimes better) to the ui folder and then write my own boot file.

[2021-03-02 21:08] anli-xsigns commented on #221
@hawkeye64
Thanks a lot for your help, yes you got them right! It's day 1 with yarn for me (was with npm before, switching because of this thread :-), still a lot to learn :-)) I tried it in my project and still have the same error, I tried to run `yarn link "@quasar/quasar-ui-qcalendar"` in node_modules\@quasar\quasar-app-extension-qcalendar, but the error after `quasar dev` is:
[code]
Now I try

[2021-03-05 09:54] anli-xsigns opened #233 "Is there a way to show Resource View with intervall "day" and before/after-resources slot?"
**Is your feature request related to a problem? Please describe.**
I want to build a resource scheduler / gantt view like
![gantt](https://user-images.githubusercontent.com/8227996/110098472-897f6900-7da0-11eb-87e9-3d0403d7d7ff.jpg)

**Describe the solution you'd like**
A resource view which I can make look like the screenshot (a vue component which almost achieves this is e. g. https://github.com

[2021-03-06 13:44] hawkeye64 commented on #233
@anli-xsigns With current calendar, no. There is a new calendar component in next brach (still to be done), QCalendarGrid, that will be like that.

My idea is that it will be configurable to the point you can do something like this:
![image](https://user-images.githubusercontent.com/10262924/110208991-56dc7b80-7e47-11eb-8d69-54e086166887.png)

[2021-03-06 17:28] anli-xsigns commented on #233
@hawkeye64 Wow Jeff, that looks **_really_** awesome!!! 👍🥳 Do you think it will be possible to draw the occupancy bars with custom code? (They are like events, e. g. from 3/3/2021 2pm to 3/17/2021 11 am)

[2021-03-07 14:28] hawkeye64 commented on #233
@anli-xsigns yes, there will be some helper methods for determining starting position and length

[2021-03-19 11:40] susnux commented on #221
This happens because `package.json` of the `ui` contains:

    "module": "dist/index.esm.js",
    "main": "dist/index.common.js",

But this files are missing.

So an other fix is to uncomment `index`  in `ui/build/script.javascript.js` on line 29.
(At least this works for me, but I also had to change the dependency of app-extension to `link:../ui` as `yarn link` does not work for me and run `yarn

[2021-03-19 12:25] susnux opened #237 "[Quasar2] QCalendar wrapper template ref"
**Describe the bug**
At the moment the wrapper works, as you can specify all properties etc, but accessing the wrapped component by ref does not.
E.g. if you want to call `next()`.
You can not simply assign a template ref to the QCalendar component as this will target the wrapper and not the wrapped component.
Adding a property (e.g. `reference` and use it`h(..., {..., ref: props.reference},...)`

[2021-03-19 13:33] hawkeye64 commented on #221
@susnux Sorry, it's not really ready to be used as an app-ext. It's in alpha, so you can clone the repo and build the examples for now.

[2021-03-19 13:42] hawkeye64 commented on #237
@susnux Yes, this will be an interesting one to handle. Might have to be how it was previously with wrapper methods that call child methods.

[2021-04-07 18:58] hawkeye64 commented on #237
@susnux If you were curious, this is what I came up with: https://github.com/quasarframework/quasar-ui-qcalendar/blob/next/ui/src/components/QCalendar.js
If you can see improvements needed, feel free to let me know or PR them.

[2021-04-07 18:58] #237 closed

[2021-04-08 10:00] susnux commented on #237
Looks good!

[2021-04-10 21:35] kenricci opened #245 "Day-resource with intervals shows wrong time"
https://codepen.io/kenricci/pen/MWJrLra

**Describe the bug**
Adding an interval-start with interval-minutes shows the wrong time.  In the codepen link is shows a start time of 2AM

[2021-04-11 12:41] hawkeye64 commented on #245
@kenricci Your codepen is showing the monthly calendar. Can you please provide the correct codepen that highlights the issue?

[2021-04-12 15:25] kenricci commented on #245
Try this one
https://codepen.io/kenricci/pen/RwKQXbb

[2021-04-12 23:05] hawkeye64 commented on #245
@kenricci This is common. The docs try to explain it, but let's try again. I didn't modify your codepen. With the information I am about to give you, I want you take a stab at it and get back to me (show me fixed pen).

So an interval standard is 1 hour (notice the 1), means if you set interval-start to 8, then it will be at 8am. And, an interval-count of 10, will add 10 * 1 intervals that will en

[2021-04-12 23:05] #245 closed

[2021-04-17 16:32] hawkeye64 commented on #221
Anyone wanting to check out the preliminary docs (or help out with docs via PRs) can find it here: https://qcalendar.netlify.app/

[2021-04-17 16:34] hawkeye64 commented on #221
getting close to the first alpha release - then lots of testing so we can go into beta

[2021-04-20 09:24] return75 opened #256 "issue in start date of month in fa-ir locale"
Hello;
my problem is that when I change calendar local to "fa-IR" the date of month does not starts from 1st of month.
is there anyway to fix that?
![calendar](https://user-images.githubusercontent.com/72575129/115371674-6dfce000-a1df-11eb-8544-023d3ce227c0.jpg)

[2021-04-20 13:44] hawkeye64 commented on #256
@return75 To tell you the truth, I am not sure. I have not programmed the calendar to be mindful of RTL languages. It's on my roadmap, including the Persian calendar. In the meantime, you can try playing with the `weekends` property (ie: `[6,5,4,3,2,1]`), but I am not sure that will work either.

[2021-04-20 13:46] hawkeye64 commented on #256
You could also change some internal css to do `flex-direction: row-reverse`, if that's all that's needed.

[2021-04-20 19:20] hawkeye64 commented on #256
I looked into it, there is much more involved. Let's get v4.0.0 out the door and then I will look into Persian and RTL for future release.

[2021-04-21 13:37] hawkeye64 commented on #256
I am going to close this one for now because it is a duplicate for https://github.com/quasarframework/quasar-ui-qcalendar/issues/223

[2021-04-21 13:37] #256 closed

[2021-04-22 15:08] hawkeye64 commented on #221
QCalendar v4.0.0-alpha.1 has been released for testing
https://github.com/quasarframework/quasar-ui-qcalendar/releases/tag/v4.0.0-alpha.1

[2021-04-22 15:08] #221 closed

[2021-04-22 20:12] pikil commented on #221
Hi @hawkeye64,
That's awesome news! Thanks for keeping it aligned with the main Quasar development process. Does that mean that you are completely switching to QCalenar v4 though and leaving QCalendar v3 in a maintenance stage.
I am interested because that would help to understand on what people need to do for their first projects - start with v4 right away or stick to v3 for a while.
Cheers!

[2021-04-22 20:31] hawkeye64 commented on #221
@pikil Yes, QCalendar v3.x is going into maintenance mode and will be supported for a year after v4 hits release. That is still about a month away. My hope was to get some folks trying v4 and let me know what additions could be made before going into beta (at which point no new features).

[2021-04-23 06:51] anli-xsigns commented on #233
@hawkeye64 thanks a lot for your great work! I really appreciate it, it's awesome! And thanks a lot for putting this on todo! I had a look at the current documentation as mentioned in https://github.com/quasarframework/quasar-ui-qcalendar/releases/tag/v4.0.0-alpha.1 but did not find slots in this component. So this is not possible at the moment, am I right?

[2021-04-23 11:58] hawkeye64 commented on #233
@anli-xsigns There are slots. I just haven't had time to put them into the JSON API so they show up. However, I do not have the before/after slots as you have requested. I am still mulling over how to do this properly. Perhaps an items in tasks array that can tell Tasks calendar to do an empty row...

[2021-04-23 13:16] anli-xsigns commented on #233
@hawkeye64 ah, sorry, didn't have a look at the source 😎

Either that or what about the "total" row? Because the afterResource Slot is more like "totals" - just different totals depending on the task status (days with beginning tasks, days with ending tasks, days with beginning and ending tasks, partially paid, full paid...)

[2021-04-23 15:39] hawkeye64 commented on #233
@anli-xsigns I am thinking the Task calendar needs something similar with children. So that the parent can hold totals and children can be displayed that make up those totals. For instance, a parent would be a country, like the US, and children would be the states.

[2021-04-23 17:22] anli-xsigns commented on #233
@hawkeye64 ah, ok. For my usecase children/subtasks are not important. For me it would be enough having several total rows :-)

[2021-04-24 12:43] hawkeye64 commented on #233
@anli-xsigns Just so I am clear, you are talking about the summary row? Meaning, configurable to have more than 1?

[2021-04-24 15:49] hawkeye64 commented on #233
What I have done for QCalendarTask is create a new `model-footer` property. This takes an array of objects. For each item, you will get a row in the footer (summary) area. You are responsible for the content using the `footer-task` slot. If there is no `model-footer` property, then no footer/summary will be displayed.

[2021-04-24 20:23] hawkeye64 commented on #233
Is this going to suffice?

https://user-images.githubusercontent.com/10262924/115971938-b3374f80-a508-11eb-94b1-d2b111cea674.mp4

[2021-04-25 08:17] anli-xsigns commented on #233
@hawkeye64 sorry, I was full day in the workshop yesterday :-) Yes, that's perfect 🥳! Really awesome ✨! Would it be possible to have the same at the top to print the colored bars like shown below? We use them for printing national holidays of different states (could be for holidays of employees too...).

https://user-images.githubusercontent.com/8227996/115986210-6a86a180-a5af-11eb-8685-d8f7ad328d

[2021-04-25 12:57] hawkeye64 commented on #233
https://user-images.githubusercontent.com/10262924/115994247-6e0c2f80-a593-11eb-9b19-08a8681ec619.mp4

[2021-04-25 19:54] anli-xsigns commented on #233
@hawkeye64 That's it 🥳🥳🚀🚀✨✨ Thanks a million!
@maximilianfixl

[2021-04-25 19:59] hawkeye64 commented on #233
I wouldn't mind if you played with it a bit. If you need help/advice getting set up, I am here to help.

[2021-04-25 20:09] anli-xsigns commented on #233
@hawkeye64 Sure, I will do, thanks a lot for your effort and help! I'll try the component certainly within the next days! Maybe you can share a tiny code snippet how I can setup the holiday and the occupancy bars?

[2021-04-26 21:00] hawkeye64 commented on #233
@anli-xsigns I'll try to get a codepen put together so we can both play with it

[2021-04-27 15:29] anli-xsigns commented on #233
@hawkeye64 Awesome, thanks a lot! I blocked mysef some time tomorrow to play with it 👀

[2021-04-30 07:51] anli-xsigns commented on #233
Hi Jeff, sorry for the delay! A colleague got ill and I had a lot of extra work to do :-( I managed to play arround with the codepen this morning and had problems to get it running - I think mostly because of the logic we use today to print the calendar and which blocks my head atm 🤣 I created the following codepen: https://codepen.io/anli-xsigns/pen/gOgJVNb There I have resources with occupancies

[2021-04-30 11:30] hawkeye64 commented on #233
I started working on hierarchical rows yesterday and drag-and-drop support. I should be done sometime this weekend.

[2021-04-30 12:09] anli-xsigns commented on #233
Great to hear 🥳 Thanks a lot!

[2021-05-05 13:23] hawkeye64 opened #270 "multi-day events in scheduler"
Hi All,

Someone can tell me if possible to add multi-events on a day into the same resource in scheduler view ?

Thanks a lot

Have a good day  :)

Adrien

_Originally posted by @KalaTheMother in https://github.com/quasarframework/quasar-ui-qcalendar/discussions/269_

[2021-05-15 15:06] Patfreeze commented on #209
Based on the post to import only parseDate. The good way to use it will be:
[code]
and not like:
[code]

Hope will help other to use it in typescript

[2021-05-15 15:53] hawkeye64 commented on #209
The bottom one is for UMD and done that way for CodePen. If not using UMD you can safely remove the `QCalendar.` from the function.

[2021-05-24 11:59] RejDev opened #289 ""props" to manipulate the width of the resources in QCalendarResource ?"
Hello,

Before starting I would like to thank the creator of QCalendar, for me it is one of the most important plugins of Quasar.

I have a quick question, how can we change the size of the resources **(Width)**  in QCalendarResource ? if that is not possible, can you add a "prop" for it?

PS: "--calendar-intervals-width" not work for QCalendarResource.

`max-width: 100px; min-width:  100px;`  the

[2021-05-24 20:54] hawkeye64 commented on #289
@RejDev Are we talking about the upcoming v4 that is currently in Alpha? If so, then look at the `cell-width` property (default is 100). That will change the interval width. If you are looking to change the actual width of a resource, use the css var `--calendar-resources-width` which is currently set at 100px.

Let me know if this is pre-4.0.0

[2021-05-24 20:54] #289 closed

[2021-05-25 02:47] RejDev commented on #289
Good evening,

thank you @hawkeye64  for taking the time to answer me, I use the **v4.0.0-alpha.8**,  `cell-width`  in props And ` --calendar-resources-width` in style, they have no effect in **QCalendarResource**, the value is always set to 100px.

[2021-05-25 12:48] hawkeye64 commented on #289
@RejDev Check out this example for what you are looking for: https://qcalendar.netlify.app/developing/qcalendarresource/resource-width-height

[2021-05-25 21:58] RejDev commented on #289
Hello,

`cell-width` it has no effect in my case, it's really strange, the link of the example you gave me works correctly, but on my code it doesn't work.

thank you for updating the examples on the site, it is very useful.

do I have to compile QCalendar from the source code ?

[2021-05-27 12:16] hawkeye64 commented on #289
@RejDev
Hello, I just released v4.0.0-alpha.9 - this should work for you.

[2021-05-29 03:43] RejDev commented on #289
@hawkeye64
Thanks, now it's working perfectly.

[2021-05-29 03:52] RejDev opened #295 "a console.log forgotten in the build v4.0.0-alpha.9 .."
Hello,

In the build **v4.0.0-alpha.9**, you forgot to remove a  `console.log('dragValue', dragValue) ` here :

**File :**
quasar-ui-qcalendar-4.0.0-alpha.9/ui/src/components/QCalendarResource.js
**Function :**
[code]

on the Git code it is already removed.

Thank you very much for your efforts.

[2021-05-29 14:48] hawkeye64 commented on #295
Thanks for being so astute and finding this!

[2021-05-29 14:48] #295 closed

[2021-06-07 14:22] anli-xsigns opened #303 "Question: How can I resize Events with mouse"
Hi,
I use the DayView with events like shown in https://quasarframework.github.io/quasar-ui-qcalendar/examples/day-view. Is there any chance that I implement a resize via mouse for the events (e. g. make event duration longer/shorter)? Thanks a lot for any idea in advance!

[2021-06-07 16:33] hawkeye64 commented on #303
There is a couple of things here in play. First, you need some sort of artifact at the bottom of the event to indicate to the user that they can extend/shorten the time (or even move the event). Second, you need a way of converting pixel height back into time.

Normally, if you have a set time (in minutes), you use `timeDurationHeight` to figure out the height in pixels for the event. In this case

[2021-06-07 17:50] anli-xsigns commented on #303
Thanks a lot for your idea Jeff! I found a quite simple solution: You can set the resize style of the event div to vertical (as shown in https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_resize_height) and then calculate the new duration as you pointed out in your answer. We can use the resize event as shown in https://stackoverflow.com/a/5490021/9321986. Awesome! I think I'll code this

[2021-06-07 18:22] hawkeye64 commented on #303
@anli-xsigns I've added the two methods and done a release
https://github.com/quasarframework/quasar-ui-qcalendar/releases/tag/v3.4.0

[2021-06-07 18:22] #303 closed

[2021-06-07 18:31] hawkeye64 commented on #303
You can also use Quasar's QResizeObserver (https://quasar.dev/vue-components/resize-observer#qresizeobserver-api), maybe in conjunction with debounce (https://quasar.dev/quasar-utils/other-utils#debounce-function).

[2021-06-07 19:44] anli-xsigns commented on #303
Jeff - that's awesome, thanks a lot! Thank you too for the hint for the resize observer! I'm using the next branch already for TypeScript and vue3 comatibility :-)

[2021-06-08 09:55] anli-xsigns commented on #303
Hm, I think Quasar's QResizeObserver has a disadvantage for me: "Please note that QResizeObserver will issue an event as soon as it gets rendered and attached to DOM, so you can have the initial size of the container.". I want to change the corresponding data in the database in the event - that wouldn't be possible with this "feature". Is there a chance to disable this?

[2021-06-08 12:56] hawkeye64 commented on #303
Looks like you can't. QCalendar has one it uses, in `src/directives/ResizeObserver.js` - but, it's not exported. You can try that one if desparate.

[2021-06-18 14:59] fomalhaut79 opened #308 "Module '"@quasar/quasar-ui-qcalendar"' has no exported member 'getDayIdentifier'."
I have the following error after upgrading from "@quasar/quasar-app-extension-qcalendar": "^4.0.0-alpha.11" to "@quasar/quasar-app-extension-qcalendar": "^4.0.0-beta.1":
TS2305: Module '"@quasar/quasar-ui-qcalendar"' has no exported member 'getDayIdentifier'.
`  import { getDayIdentifier, Timestamp } from '@quasar/quasar-ui-qcalendar';`

Quasar version: 2.0.0-rc.3, typescript

[2021-06-21 11:40] hawkeye64 commented on #308
@fomalhaut79 Looking into it, thanks for letting me know.

[2021-06-21 12:56] hawkeye64 commented on #308
@fomalhaut79 I'm not using TypeScript, but this is working fine for me in a new test project:

[code]
![image](https://user-images.githubusercontent.com/10262924/122765478-c7c06b80-d25d-11eb-8b28-dfedfd0c955c.png)

[2021-06-21 13:47] #308 closed

[2021-06-21 19:56] fomalhaut79 commented on #308
@hawkeye64 Still same errors with a new project: [https://gitlab.com/fomalhaut79/calendar-test.git](https://gitlab.com/fomalhaut79/calendar-test.git). BTW <script lang='ts'> lang ts is missing in script block in your example

[2021-06-22 13:13] hawkeye64 commented on #308
@fomalhaut79 That's because I don't do TS, but if you figure it out, let me know. Right now, it's beyond my realm of information.
Perhaps all of the exports for Timestamp need to be recognized by TS?

[2021-06-23 00:21] RejDev opened #313 "Module '"@quasar/quasar-ui-qcalendar"' has no exported member"
Hello,
After updating to Beta version (4.0.0-beta.1) , I have several errors of this style :

**Module '"@quasar/quasar-ui-qcalendar"' has no exported member 'today'**
**Module '"@quasar/quasar-ui-qcalendar"' has no exported member 'addToDate'**
...

in all imports
[code]

**N.B: I am using typescript**

With 4.0.0-alpha.14 everything works fine,  because  **@quasar/quasar-ui-qcalendar/dist/types/

[2021-06-23 14:46] hawkeye64 commented on #313
@RejDev Thanks for reporting this or, I otherwise might not have noticed it! :heart:
Fix in in v4.0.0-beta.2

[2021-06-23 14:46] #313 closed

[2021-06-24 16:38] tpoxa opened #314 "After quasar upgrade -i project with q-calendar not longer work"
For a legitimate bug, in order to process faster, please go here https://codepen.io/Hawkeye64/pen/RwwwKQL, fork the codepen, add code to reproduce the bug and submit link here (don't forget to save your codepen):

**Describe the bug**
[code]

My package.json
[code]

Thanks in advance.

[2021-06-25 12:15] hawkeye64 commented on #314
@tpoxa Help me out here. Your package.json still shows as using Quasar v1.15.21 and quasar/app v2.2.10.
If you really have upgraded to Quasar v2.x, then you need to update QCalendar to a version that supports Quasar v2 and Vue v3.
You can do that via Quasar CLI:
[code]
Notice the `next` tag.

[2021-06-25 12:15] #314 closed

[2021-06-25 12:16] hawkeye64 commented on #314
Also, latest docs are here: https://qcalendar.netlify.app/

[2021-06-25 14:46] tpoxa commented on #314
Thanks, @hawkeye64 for your reply. The reason was in my Dockerfile. As a part of a build what that line.
[code]
Within one magical day, it started to install the quasar v2 version. Which my app (and extension) was not prepared to use. Yeah, this is the wonderful world of NPM.

So now it should be.

[code]

[2021-06-27 15:19] mfyang opened #315 "getEvents gets called for each character or keyboard action on event edit dialog"
**Describe the bug**
Seems like getEvents() function in Calendar.vue of the demo gets called for each change on the event add/edit dialog, which is unnecessary and will eats up quite some CPU cycles if we added complex logic inside getEvents.

**To Reproduce**
Steps to reproduce the behavior:
1. add 'console.log('anything') in the getEvents() function
2. set up the demo app
2. click on the day vie

[2021-06-27 16:37] hawkeye64 commented on #315
I'm on vacation until next Sunday, but I'll be on this as soon as I get back.

[2021-07-06 20:33] hawkeye64 commented on #315
@mfyang Which version?

[2021-07-08 02:28] marathonco opened #320 "Wrong Time on @click:time when start"
Sorry for lack of codepen; I'm on bad internet and can't get a fork running.
Also, not sure if this is only for the `next` branch or not.

**Describe the bug**
@click-time is reporting the time (instead reporting `click-time + interval-start`)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/examples/day-interval-start`
2. Click on any time
3. Open console
4. See incorrect `scope: tim

[2021-07-08 13:45] hawkeye64 commented on #320
@marathonco Good find! Thanks for reporting :heart:

[2021-07-08 14:27] hawkeye64 commented on #320
Fix will be in 4.0.0-beta.3

[2021-07-08 14:27] #320 closed

[2021-07-09 14:46] hawkeye64 commented on #315
Seems like this is an issue with understanding Vue. When you do certain things in a function related to the data it's using, then you're telling Vue to re-run the render if that data changes. This includes any variables returned from `data()` method and computed (options API), or ref/reactive/computed (composition API).

Also, if you use a slot to display input, then each time the user types, it w

[2021-07-09 14:46] #315 closed

[2021-07-09 21:41] ub3rb3457 opened #327 "Capacitor build for iOs not working"
When I compile the app for ios using capacitor the app works until trying to switch to a view containing the calendar.... is anyone else having a similar experience?

[2021-07-11 05:31] mfyang commented on #315
Sorry, I was out for vacation this whole week.  It is the latest version available in the github.

[2021-07-11 05:32] mfyang commented on #315
Cool.  I'll try this 'async' way.

[2021-07-11 12:30] hawkeye64 commented on #327
And then what happens? Do you get some sort of console error? Which version of QCalendar?

[2021-07-11 15:48] ub3rb3457 commented on #327
Sorry for being so vague, I'm using the latest version, I double checked in all my package.json instances, including the one buried in the node_modules folder in @quasar/qcalendar-ui-qcalendar to make sure of that.  The issue only comes up on ios where the rest of the app works fine.  I'm using q-route-tabs for navigation and when I navigate to the route containing the q-calendar-month component t

[2021-07-11 17:12] hawkeye64 commented on #327
@ub3rb3457 This seems like a known issue.

Here are some links I found. Different conversations suggest different things to try:

https://stackoverflow.com/questions/59401355/how-to-resolve-api-error-returned-0-width-assuming-uiviewnointrinsicmetric-w
https://stackoverflow.com/questions/51630993/api-error-returned-0-width-assuming-uiviewnointrinsicmetric
https://stackoverflow.com/questions/4707698

[2021-08-06 08:13] nothingismagick opened #338 "Sublicense Timestamp.js file"
**Is your feature request related to a problem? Please describe.**
This little utility is amazing, and it would be nice to export it / publish it alone.
https://github.com/quasarframework/quasar-ui-qcalendar/blob/dev/ui/src/utils/Timestamp.js

**Describe the solution you'd like**
Add an SPDX license header to the file.
Make it well-known.

**Describe alternatives you've considered**
Just copying i

[2021-08-06 13:17] hawkeye64 commented on #338
I have been thinking about making it a separate library. I'll let you know.

[2021-08-07 00:02] sambafall opened #339 "example of week calendar with events in the body"
Hi,
I'm a novice in the Quasar framework/vue world and I am trying to implement a  weekly calendar and add events to the body for my personal project by making API calls to my backend server.
 I am using the Qcalendar V 4.0.0 because the 3.4.0 is not compatible with quasar 2.
I've looked for and example in the examples folder in the repo but none of those shows how to add an event in a day or week

[2021-08-07 00:09] sambafall commented on #339
Sorry for the false alert. I found the example in the WeekViewEvents.vue but the events with the desired format were in the next page after running the code.
So i will close the issue.
Thank you

[2021-08-07 00:09] #339 closed

[2021-08-07 14:23] hawkeye64 commented on #339
@sambafall When I finish up converting all the App Extensions to Quasar v2 that need it, I plan on some tutorials for QCalendar. So, may be a bit later than you want, but stay tuned.

[2021-08-07 22:27] sambafall commented on #339
Thank you @hawkeye64 for your reply. I often check the repo to see if the beta became officially released . I'll stay tuned 💯
thank you

[2021-08-12 14:32] talkonadmin opened #340 "parseTimestamp is not exported correctly in typescript"
According to the source code the function parseTimestamp updates the relative information only if it receives a now parameter. However, in typescript the function is exported without this parameter and thus do not update the relative information.
I manualy changed the index.d.ts file to:
export function parseTimestamp (input: string, now: TimestampOrNull): TimestampOrNull

After that, the function

[2021-08-18 13:26] lukaiser opened #341 "Recource interval length of one Week"
I currently try to build a resource calendar where one interval has the length of one week. It should be an overview of one year for multiple resources.

I tried to increase the interval-minutes of q-calendar-resource, but that seems to fail, as it seems as it can't be longer than 24 hours.

Is there another way to get the same result, or is it possible to extend q-calendar-resources?

Thanks for

[2021-08-18 15:47] hawkeye64 commented on #340
Which version? They probably both need it...

[2021-08-18 16:02] talkonadmin commented on #340
3.4.0

[2021-08-18 16:49] hawkeye64 commented on #340
Fixed in v3.4.1 and v4.0.0-beta.4

[2021-08-18 16:49] #340 closed

[2021-08-18 16:55] hawkeye64 commented on #341
You may want to look into the Scheduler view. This gives you more dates. The Resource is more like a drilled-down version of the data, so you get a day

[2021-08-18 16:55] #341 closed

[2021-09-27 06:02] ub3rb3457 commented on #327
i almost forgot i had posted this here, i ended up fixing the issue so i'm closing this.

[2021-09-27 06:02] #327 closed

[2021-09-30 08:28] RejDev opened #344 "borders are incorrect"
Hello,

**Describe the bug**
the last blocks for the sub-resources, do not have right borders,
the screenshot describes the anomaly well :

**Screenshots**
![calbug](https://user-images.githubusercontent.com/12255492/135416322-3e9bf2d7-199f-4511-a009-3159e73bc911.png)

version :
"@quasar/quasar-ui-qcalendar": "^4.0.0-beta.5"

Thanks.

[2021-09-30 16:24] hawkeye64 commented on #344
@RejDev That is actually correct. It's the other ones that shouldn't have a right-border. Otherwise, it looks messy when using the `bordered` attribute.

That being said, I am not seeing the issue, except the bottom-border should not be on the last child (Olivia):

![image](https://user-images.githubusercontent.com/10262924/135493896-9b41ca07-94ad-4e7b-aa2f-5f53f86016bd.png)

Right now I am scratc

[2021-09-30 16:56] hawkeye64 commented on #344
I think what is happening is that your calendar is `bordered`, but you have restricted the amount of time showing, so it's not going 100% width. Does that sound right? Because your left side appears bordered. Otherwise, it would look like this:

![image](https://user-images.githubusercontent.com/10262924/135498476-f2750aec-6ebf-44a3-b0dc-2816513ed582.png)

[2021-09-30 19:00] hawkeye64 commented on #344
Ok, I have fixed the border issue, but I don't think that will solve your problem. I need to figure out why your intervals are not taking 100% width of the calendar. Unless you have explicitly set the width or not set it (there may be a default defined by css var). Try changing your `cell-width` property.

[2021-09-30 19:50] RejDev commented on #344
Hello again,
(I really appreciate your responsiveness)

For the calendar I only use this for the style
` :style="calendarStyle"`
and
**bordered** attribute

here is a sample of the calendar code :
[code]

[code]

the calendar is inside these div :

[code]

thank you so much.

[2021-09-30 20:20] hawkeye64 commented on #344
If yu wouldn't mind forking this CodePen and make it like what you have, I'd appreciate it:
https://codepen.io/Hawkeye64/pen/xxqQgbG?editors=1010

[2021-09-30 20:25] RejDev commented on #344
ok i will try to do this now

[2021-09-30 20:31] hawkeye64 commented on #344
Let me know and thanks (super busy day today). Our office was broken into and some computers were taken... :(

[2021-09-30 21:32] RejDev commented on #344
I'm really sorry for you, hope you haven't lost important data, the computers are replaceable but not the data.
it is surely someone who knows what is in the office :/
(do you have surveillance cameras?)

~~[I can't reproduce the bug on CodePen, but in local machine i can even with an blank project]~~
I noticed that you pushed a new version (4.0.0-beta.6) , I made the update and now I only have th

[2021-09-30 21:46] RejDev commented on #344
now with the version **4.0.0-beta.6**  :
![calbug3](https://user-images.githubusercontent.com/12255492/135534247-638ba599-89c4-4841-97d8-c73ddddb29c3.png)

and without Slot ( #resource-intervals )
![calbug4](https://user-images.githubusercontent.com/12255492/135534404-695ef74f-92de-4275-b41f-c7f2c240ca46.png)

[2021-10-01 14:50] hawkeye64 commented on #344
They use a metal bar to break open our front door. The front door to the building was left ajar. A girl came in, wandering in from the street, and took a brand new laptop given to a new hire. It's git, so everyone has a distributed repo copy.
We deal with cameras, so we have an excessive amount and have lots of footage.

Anyway, maybe a codesandbox then?

[2021-10-01 19:12] fomalhaut79 opened #345 "ReferenceError: __UI_VERSION__ is not defined"
**Describe the bug**
After upgrading to 4.0.0-beta.6 this method to include quasar-ui-qcalendar into Quasar app is not working anymore:
[code]

The following error displays in the console: "ReferenceError: __UI_VERSION__ is not defined"
Probably it should be changed by: `import Plugin from '@quasar/quasar-ui-qcalendar/dist/<ComponentName>.esm.js';` in the docs: [https://qcalendar.netlify.app/all-a

[2021-10-01 21:50] RejDev commented on #344
Hello,
(as long as it is only one laptop, is it not a big problem and it will allow to reinforce the security afterwards)
otherwise, i found the solution,
this is the part that causes the bug :
[code]
when  `<template #resource-intervals>` is followed by another  `<template>` or raw text,  then this css class which is active
[code]
so it suffices to encapsulate the second `<template>` (or any text

[2021-10-02 16:05] nseb commented on #345
+1
Same problem , it's blocking issue

[2021-10-02 16:36] hawkeye64 commented on #345
With webpack 5, when you import a json file, it no longer does tree-shaking on it. This caused the distributable to become bloated with unusable content (we only wanted the version).

There are a couple options:
1. if you are importing from the src folder, then take it a bit further using `src/components/<component>` instead

2. Or, in your own project that consumes QCalendar, add this to quasar.c

[2021-10-02 16:36] #345 closed, assigned to nobody

[2021-10-02 16:53] hawkeye64 commented on #345
I have updated the docs for `Installation Types` and `Migration Guide`.

[2021-10-02 16:54] hawkeye64 commented on #345
Don't forget, you can always import from the `dist/` folder as well, where you won't need the transpile steps.

[2021-10-02 17:14] nseb commented on #345
Thanks a lot !

[2021-10-02 17:29] hawkeye64 commented on #344
Yes, that's because the `#resource-intervals` slot is meant to have absolute positioning and you would need to add a div to do that.

I can't figure out why, when adding the div as absolute, the right border shows up regardless (doesn't think it's `:last-child`

https://codepen.io/rejdev/pen/KKqYvQZ?editors=1010

[2021-10-04 21:32] RejDev commented on #344
I think that in the absence of a child (div) ,`:last-child` is activated by default ..

[2021-10-04 22:16] hawkeye64 commented on #344
I get it, adding the div is putting it on the end, but the absolute positioning is removing it from the flow, but it must be still seeing it.

I am not entirely sure how to fix that at this point. If you have ideas, let me know, otherwise, I will have to ponder/play with it for a while.

[2021-10-04 22:20] hawkeye64 commented on #345
Just revisiting this. I have come up with an alternate way where a `version.js` will be generated at build time and no more replacement being done with `@rollup/plugin-replace`. It will be in the next release.

[2021-10-04 22:29] RejDev commented on #344
when I completely delete this css class, the right border problem disappears, and we no longer need to have a `<div>`

[code]

[2021-10-04 22:56] RejDev commented on #344
I think I found the solution, I modified these css classes and apparently it works.
https://codepen.io/rejdev/pen/VwWJvxQ

## The patch ( all border issues, for resources and sub-resources ) :

[code]
---
## comparison :
![result](https://user-images.githubusercontent.com/12255492/135936819-724774a8-1327-4bb3-a1f7-4b6a7e374f6b.png)

[2021-10-05 13:05] hawkeye64 commented on #344
The problem with this is when you have more intervals that the parent width and you can scroll, you end up with the double border on the end:

![image](https://user-images.githubusercontent.com/10262924/136028384-26d0e44e-1def-49d0-9d74-2909b07aa5cf.png)

[2021-10-05 13:25] RejDev commented on #344
you are right on this point, it suffices to delegate the management of the external borders to the internal blocks, and not to the calendar container, like this :

https://codepen.io/rejdev/pen/PojrEzv

and it allows to have more flexibility in the customization,  (the separation between the calendar border and the borders of the interval blocks)

What do you think about it ?

[2021-10-10 20:31] mpostman opened #347 "__UI_VERSION__ undefined"
**Describe the bug**
4.0.0-beta.6
it has critical error:
[code]
and  warning
[code]
Crush a page where Calendar is used.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'install latest QCalendar 4.0.0-beta.6'
2. Standard Qcalendar page
3. Build or launch on Dev

**Additional context**
If I'm wrong please don't judge me strong.
That was pain to find how I can fix it, until look into com

[2021-10-12 15:49] hawkeye64 commented on #347
Yes, it was fixed with this commit: https://github.com/quasarframework/quasar-ui-qcalendar/commit/253fa2050d3d1f0f282613638fe53ae1a818fe95#diff-d3ef7de562f9a4a34a9a0b05a112955fdecdd0102c3faae5eeb03a195091a5e4
Available in v4.0.0-beta.7

[2021-10-12 15:49] #347 closed, assigned to nobody

[2021-10-14 11:48] FVershinin opened #348 "virtual scrolling"
Hello everyone!

Is there any solution to use q-calendar-scheduler with virtual scrolling?

Thanks.

[2021-10-14 13:52] hawkeye64 commented on #348
How much scrolling do you want to do? I have never really considered it before...

[2021-10-14 14:33] FVershinin commented on #348
Approximately 1000-1500 elements.

[2021-10-14 17:54] hawkeye64 commented on #348
That's a lot!
What I meant was it for days or time increments? I presume it's not needed for month view.

[2021-10-21 10:34] JoseMancebo commented on #18
Hi,
I'm using the calendar for a new project, and I found the same issue. The code into the templates of the calendar are fired 4 times...
This cause a performance penality... in the week view, with some events, chage to another date isn't fluid, render all the content 4 times cause a slow performance to the users...

I think that this render shuld be fired only a time if the day or view isn't cha

[2021-10-21 20:24] hawkeye64 commented on #18
@JoseMancebo Let me know what version you are using.

[2021-10-22 09:13] JoseMancebo commented on #18
@hawkeye64 this is the version:
"@quasar/app": "^3.1.5",
"@quasar/quasar-app-extension-qcalendar": "^4.0.0-beta.7",

[2021-10-25 02:06] RejDev opened #349 "(@click-time , @click-date , ...) , right , middle click ?"
Hello,
I'm trying to implement a context menu that pops up when you right click on an interval, but I only have the left click that works.
I don't know if I'm doing it wrong, but I tried this :

` @click-time.right="rightClickEvent()"`

thank you in advance for your help.

[2021-10-25 12:43] hawkeye64 commented on #349
Hi. Use `contextmenu-???` where ??? = the area of the calendar.
For instance, `contextmenu-date`, `contextmenu-day`, `contextmenu-day-header`, `contextmenu-workweek`, `contextmenu-workweek-header`, `contextmenu-interval`, `contextmenu-interval-header`, `contextmenu-time`, `contextmenu-resource`, `contextmenu-resource-header`, `contextmenu-resource-day`, `contextmenu-column-head`, `contextmenu-colu

[2021-10-25 12:43] #349 closed, assigned to nobody

[2021-10-25 17:16] RejDev commented on #349
Thank you so much @hawkeye64 ,

I was using q-menu manually in templates, I will try now with your suggestion,

thank you again.

[2021-10-25 18:43] hawkeye64 commented on #349
You can still use q-menu, and the function called by `contextmenu-???` will get some `scope` data that will be useful (ie: the timestamp, etc). Then turn on the q-menu.

[2021-10-25 18:54] RejDev commented on #349
this is what I did, now I am trying to find an efficient way to calculate the offset of the QMenu to position it in the area of ​​the click,
I am using the data provided by **event** (clientX , clientY) .

Thank you again for everything you do for the community. :1st_place_medal:

[2021-10-25 18:56] rogeru opened #350 "Switching between day, week and month view using calendar's view property is not working"
See https://codepen.io/circuit/pen/vYJxRmY

**Describe the bug**
Binding the "view" property to a q-select should update the calendar view when the view is switched between 'day', 'week' or 'month'.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to codepen above and change the dropdown to week or month
2. No change in calendar's view.

**Expected behavior**
Calendar should dynamically ch

[2021-10-26 13:46] hawkeye64 commented on #350
Hi. Previously it was the `view` property, but some calendars, like Day, still use `view="week"`, so a new property, `mode` is used for the Calendar wrapper. See a working example here: https://qcalendar.netlify.app/developing/qcalendar

[2021-10-26 14:00] rogeru commented on #350
@hawkeye64 yes I have tried mode previously and seen that example, but "mode" only supports "day" and "month". I would like to toggle between "day", "week" and "month". So I am trying to use "mode" in conjunction with "view".

I can switch between "day" and "month", but again the "view" property does not dynamically change the calendar.

[2021-10-26 14:07] rogeru commented on #350
Also, I do prefer the month-view of the CalendarDay component which is why I am using the "view" property. So I'd like to dynamically switch between these:
![image](https://user-images.githubusercontent.com/1393401/138895675-7ac1b19b-891c-4420-b603-15d2d70d1d06.png)
![image](https://user-images.githubusercontent.com/1393401/138895880-1c8b57f0-0f9d-4d72-9537-f0edbcc57d23.png)
![image](https://user-

[2021-10-26 16:03] hawkeye64 commented on #350
Hi. I'll have to look into this when I have a bit of time. Hopefully later today or tomorrow.

[2021-10-29 10:32] rogeru commented on #350
@hawkeye64 did you get a chance to take a look?

[2021-10-29 13:03] hawkeye64 commented on #350
No, I will today.

[2021-10-30 18:46] hawkeye64 commented on #350
Fyi, I took a look and understand the issue. Unfortunately, the current code only works like this with the Task calendar. The other calendars need a bit of a rewrite to recalculate their data when the view property is changed.

I just wanted you to know I'm actively working on this.

[2021-10-30 20:52] hawkeye64 commented on #350
Fixed in v4.0.0-beta.8 - thanks so much for reporting this :heart:. The docs example now allows you to select a view as well.

[2021-10-30 20:52] #350 closed, assigned to nobody

[2021-11-12 11:48] susnux opened #352 "Switching between `day` and `week` broken with `max-days` set"
**Describe the bug**
QCalendarAgenda behaves strange when `view` and `max-days` are set, following example code:

[code]

Should show either a week or a day, but when changed from day to week the agenda only shows 2 days (selected date + next).

(Background: If the window is too small and the user selected week I set `view` to `day` and `max-days` to 3).

Also I noticed setting `max-days` when `vi

[2021-11-12 13:19] hawkeye64 commented on #352
@susnux Can you find an appropriate calendar in CodePen, fork it, and replicate your issue? Make sure in settings, it's using the latest version: https://codepen.io/collection/qOBOEG

Thanks!

[2021-11-12 17:30] susnux commented on #352
I tried it, I got a different behavior, but still it is not working as expected:
https://codepen.io/susnux/pen/NWvLLNb

[2021-11-13 15:37] hawkeye64 commented on #352
@susnux I see where you went wrong. On the `day` view, it will display 1 day unless you add more days with `max-days`. The `week` view already has the `max-days` built in and conflicts when it is used as a property. The trick is to set `max-days` to 0 (zero) when the view is in `week` mode.

https://codepen.io/Hawkeye64/pen/QWMZyGp

I think I can also do some improvements in this area.

[2021-11-13 16:08] hawkeye64 commented on #352
https://github.com/quasarframework/quasar-ui-qcalendar/releases/tag/v4.0.0-beta.10

[2021-11-13 16:08] #352 closed, assigned to nobody

[2021-11-14 15:21] susnux commented on #352
Thank you, that works :)
And I will adjust my code

[2021-11-16 08:35] yavuzseker opened #353 "How can i see Events at month-scheduler view?"
Hello.I try to use  'month-scheduler' view.Resources working well but i cant show events inside them.What do i mistake?
Can u check please?
_Calendar options:_
[code]
### _Resources include events:_
[code]

[2021-11-16 14:37] hawkeye64 commented on #353
You haven't mentioned which version, so I will presume the latest.
You can look at this example here: https://qcalendar.netlify.app/developing/qcalendarscheduler/scheduler-slot-resource-days

[2021-11-16 14:37] #353 closed, assigned to nobody

[2021-11-23 14:22] yavuzseker opened #354 "Qcalendar Task month issue"
Hello.I'm using last version Quasar.
I try to use Qcalendar Task via this doc
( [https://qcalendar.netlify.app/developing/qcalendartask/task-children])
I have a question about tasks logged date.I use different months in date but it still show me value in same month
My and doc code:
[code]
First one 9.month second one  11.month but still seem in same month at calendar.
![image](https://user-images.

[2021-11-25 14:29] hawkeye64 commented on #354
To be clear, are you saying the code example is ignoring the month?

[2021-11-25 14:34] hawkeye64 commented on #354
Are you using the code from the example? It has an `onBeforeMount` that iterates through all the dates and adjusts them to the current month so the demo can stay current. Remove or revise that code as needed, if this is the case.

[2021-11-28 18:00] susnux opened #355 "V4: TypeScript wrong typing for Timestamp.getStartOfWeek"
**Describe the bug**
The TypeScript interface of `getStartOfWeek` says `weekday` is optional, but not setting `weekdays` results in an `TypeError: weekdays is undefined`.

[2021-11-29 09:03] Lilyze opened #358 "Support estonian language"
**Is your feature request related to a problem? Please describe.**
There is no support for estonian language

**Describe the solution you'd like**
There should be, since it the tool is used there too.

Mon = E Tue = T Wed = K Thu = N Fri = R Sat = L Sun = P

esmaspäev | Monday
teisipäev | Tuesday
kolmapäev | Wednesday
neljapäev | Thursday
reede | Friday
laupäev | Saturday
pühapäev | Sunday

jaanua

[2021-11-29 13:26] hawkeye64 commented on #358
QCalendar has no language files. Instead it leverages the browser to do languages using the `Intl.DateTimeFormat` API.

I'm surprised your browser is not supporting this language. Or, are you looking at the locale examples in the docs? That's just a number of random locales I picked for a list that get fed to the above mentioned API. If Estonian is missing, feel free to add it via a PR.

[2021-11-29 13:26] #358 closed, assigned to nobody

[2021-11-29 13:26] hawkeye64 commented on #358
Is the locale `es`?

[2021-11-29 15:31] hawkeye64 commented on #358
Ok, it is `et`. I have added Estonian to the `locale` examples. It will be available in the next docs deployment.

![image](https://user-images.githubusercontent.com/10262924/143896289-9eba6e99-2fe7-4ac7-9063-d35b6883e95d.png)

[2021-11-29 16:49] hawkeye64 commented on #355
Fix is in v4.0.0-beta.11

[2021-11-29 16:49] #355 closed, assigned to nobody

[2021-11-30 07:04] Lilyze commented on #358
Thank you so much for all the comments. It helps us to get this feature launched to our Estonian customers :) Our developers can now make all necessary changes.

[2021-12-29 15:03] Pikiko14 opened #359 "Resource view dont show event"
hello, i are using resource view type but this dont show the resource events... any can help me?

![image](https://user-images.githubusercontent.com/88893986/147675392-3141bc73-1559-42f1-bb3f-1ab3dc4abfa9.png)
here u can see my event resource data
![image](https://user-images.githubusercontent.com/88893986/147675482-f7b8c4ce-89ec-4744-8b04-49847bfe7138.png)

[2021-12-30 00:11] hawkeye64 commented on #359
Have you looked into this example? https://qcalendar.netlify.app/developing/qcalendarresource/resource-slot-resource-intervals

Are you using the right slot?

[2021-12-31 18:48] Pikiko14 commented on #359
thanks for your answer. I had read the documentation but I didn't see anything about this slot. I'll try it to see if it works for me. happy afternoon and happy new year.

[2022-01-03 19:18] Pikiko14 commented on #359
![image](https://user-images.githubusercontent.com/88893986/147970490-549c9ed2-8122-431e-9249-50d31bb31695.png)

when i use slot the event don`t show in the correct interval... here my data return from api
![image](https://user-images.githubusercontent.com/88893986/147970613-880f3652-1a29-4dd5-8ab6-2dac3d189c18.png)

[2022-01-04 15:03] hawkeye64 commented on #359
I need to see some code to see what you are doing wrong.
You can fork this CodePen and update it with what you are doing: https://codepen.io/Hawkeye64/pen/ZEXomVG?editors=1010

[2022-01-04 15:05] Pikiko14 commented on #359
Tnk for You answer bro, i can solve it setting up the setStyleFUnction and
now show all events very good

El mar., 4 de enero de 2022 11:03 a. m., Jeff Galbraith <
***@***.***> escribió:

[2022-01-04 15:13] Pikiko14 commented on #359
![image](https://user-images.githubusercontent.com/88893986/148080125-1127a60d-5f8e-45ca-b4f9-9d8a7a9bb20d.png)

i solve it setting the style functions
![image](https://user-images.githubusercontent.com/88893986/148080403-79e3390d-cee7-48fc-bf60-0381048df169.png)

[2022-01-04 15:14] #359 closed, assigned to nobody

[2022-01-04 17:55] hawkeye64 commented on #359
Nice!

[2022-01-07 10:15] flowt-au opened #360 "Question: in month view, how to get the first and last dates in the view (not the month)"
Hi, Thanks for the great extension, Jeff.

I have trawled through the docs and the code and cant find a method I suspect is in there somewhere. Sorry.

Using the month view right now in January 2022 as an example, I need to know the date of the first date in the view (eg Dec 26th) and the last date in the view (Feb 5th). The reason is I need to send that date range to my API to get any items for t

[2022-01-07 15:40] hawkeye64 commented on #360
@flowt-au Look for the `change` (onChange) event. It contains:

[code]
When looking at the examples (https://qcalendar.netlify.app/developing/qcalendarmonth), then open dev console. Most of the events are displayed in real-time.

Hope that helps.

[2022-01-07 15:40] #360 closed, assigned to nobody

[2022-01-07 19:35] flowt-au commented on #360
Thanks Jeff. Sorry, I should have mentioned I am still using `v3.4.1` since I am still on Quasar 1. Upgrading starts soonish.

I was console logging as you suggest and was only getting start and end (not days) and it is the month start and end, not the view start and end.
[code]
Another reason to upgrade to Quasar 2 and QCalendar v4!

Thanks again,
Murray

[2022-01-09 16:56] hawkeye64 commented on #360
< v4 doesn't support that. I looked into adding the array used, but because of the way < v4 uses a hybrid approach, it doesn't work as the master component doesn't have that information available. To provide it would cause a breaking change.

But, here's some code to get you what you want:

[code]

[2022-01-09 19:51] flowt-au commented on #360
Thanks so much for your help Jeff. That's great, I will use that pattern. :-)

[2022-01-13 07:37] angelhdzmultimedia opened #361 "[HELP NEEDED?] Importing QCalendarMonth"
For a legitimate bug, in order to process faster, please go here https://codepen.io/Hawkeye64/pen/RwwwKQL, fork the codepen, add code to reproduce the bug and submit link here (don't forget to save your codepen):

**Describe the bug**
I never used this plugin before until few days ago in Codepen importing the UDM.
Now I decided trying it in Quasar CLI but can't manage importing it.

**To Reproduce

[2022-01-13 22:56] hawkeye64 commented on #361
Let me try to replicate what you have done so I can better understand what your issue is. I'll have some time on the weekend. Bump me if you don't hear anything by Sunday.

[2022-01-14 07:38] afnan opened #362 "New Installation to Quasar App"
I have been trying to get it going with a new quasar app. However I keep getting errors.
**Method followed**

Creation of boot file and registering it in quasar.conf.js

Boot file
[code]

Errors
`Module not found: Error: Can't resolve '@quasar/quasar-ui-qcalendar'`
`Module not found: Error: Can't resolve '@quasar/quasar-ui-qcalendar/dist/index.css'`

I then manually ran the following
yarn add "@qu

[2022-01-14 13:12] #362 closed, assigned to nobody

[2022-01-27 00:07] #361 closed, assigned to nobody

[2022-02-03 09:30] PowerWeb5 commented on #11
Expanding to fit parent container height seems broken again in 4.0.0-beta.12, such as with Month View.
A temporary workaround can be done with following CSS:
.q-calendar-month__week--wrapper {
flex: 1
}
.q-calendar {
height: 100vh;
}

with :day-height="0" for q-calendar even.

However, CSS is ignored as each .q-calendar-month__week--wrapper element gets the following inline style
style = "height:

[2022-02-10 17:21] obailleux opened #364 "Full height view"
Hi guy's,
The calendar fits the div in width. Is it possible to do the same thing in heigth?
I saw that we can change the day height but we would like the calendar to fit to the screen size (not in pixel).

[2022-02-11 12:57] hawkeye64 commented on #354
Closing for lack of response.

[2022-02-11 12:57] #354 closed, assigned to nobody

[2022-02-25 10:50] martinfruehmorgen commented on #348
Hello,

are there any news on this? I think this should be mainly available for timeline / resource views, but could also be helpful for month / week view depending on the amount of events.

Thanks,
Martin

[2022-02-25 16:47] Erik-Bjerke opened #365 "Default expand button in resource view is useless/annoying (Not exactly a bug)"
This small button to expand the resource is way too small and basically unclick-able. And on touch screen it is basically impossible to use.
![image](https://user-images.githubusercontent.com/54407345/155753706-0da2eea0-f26f-47a9-b03d-6c56a265f07d.png)

Even with some extra CSS work it is still useless.
![image](https://user-images.githubusercontent.com/54407345/155753573-80e8343d-0799-4dc7-9465-a

[2022-03-03 14:40] hawkeye64 commented on #365
I'll see if I can do some improvements this weekend. Thanks for reporting.

[2022-03-03 14:41] hawkeye64 commented on #348
There is no timeline on this. I just have to figure out how to do it as QCalendar doesn't really have dependencies (like Quasar) and I'd like to keep it that way. My experience with virtual scrolling is limited, so I just have to find the time to know it and implement it.

[2022-03-03 14:44] hawkeye64 commented on #364
I am hoping I can look into this on the weekend.

[2022-03-15 14:57] vicancari commented on #327
Hola buenas men, estoy presentando el mismo problema, podrias ayudarme a ver como lo solucionaste

[2022-03-16 10:54] obailleux commented on #364
Hi Hawkeye64,
I wonder if you had the time to work on this improvement ?
Best,
Olivier

[2022-03-18 12:55] saadeddineAtif opened #369 "prev(), next() and max-days aren't working in day view for qCalendarTasks!"
Hi the prev() and next() method aren't working for the day view in qCalendarTasks also max-days,
You will find bellow the codepen for this issue.

Thank you!
https://codepen.io/saadeddineatif/pen/BaJKBNY

[2022-03-21 14:35] saadeddineAtif opened #370 "Loading Effect like QTable for server data call"
Hi, can we have a loading effect like the QTable one for server data call?

It will be great when dealing with a large amount of data with pagination

Thank you!

[2022-03-21 19:35] hawkeye64 commented on #369
I will look into this as soon as I get a chance. Thanks for reporting! :heart:

[2022-03-21 19:36] hawkeye64 commented on #370
You can use the body slot (a rect of the whole calendar) to add something like that.

I am not sure if I have ever documented, that. I'll leave this issue open until I do.

[2022-03-22 15:45] hawkeye64 commented on #327
Do you have the QCalendar wrapped by a parent div?

[2022-03-28 17:25] hawkeye64 commented on #11
Yes, I am looking into how to provide this gracefully.

[2022-04-10 15:30] hawkeye64 commented on #11
I should have a fix for this shortly. I just need to do some more testing.
In order for this to work, 3 things have to happen:
1. The height of the calendar or parent wrapper must be set (ie: `height: 600px;`)
2. The property `day-height` must be set to 0
3. The property `day-min-height` must be set to 0

The updated example will be the https://qcalendar.netlify.app/developing/qcalendarmonth/month

[2022-04-10 15:39] hawkeye64 commented on #11
Fixed in v4.0.0-beta.15

[2022-04-10 15:39] #11 closed

[2022-04-10 15:44] hawkeye64 commented on #364
This is fixed in v4.0.0-beta.15
Set a height on the calendar. Set both `day-height` and `day-min-height` properties to 0.

[2022-04-10 15:44] #364 closed, assigned to nobody

[2022-04-27 13:04] rogeru opened #374 "Use quasar.lang as default for weekdays and hour24-format"
Quasar components such as q-date use the quasar.lang.date (language pack) to determine whether to use 24h format, or starting day of the week. It would be great if the calendar would do the same, rather than having to set weekdays and hour24-format manually based on the locale.

https://quasar.dev/options/quasar-language-packs

[2022-04-28 20:32] hawkeye64 commented on #374
QCalendar uses Intl.DateTimeFormat for everything calendar. We can try and use Intl to find out the hour format and use that as a default if the dev hasn't used the prop to explicitly define it.
Equally, devs can also do this and set the prop based on the outcome.
We can do the same for locale, instead of defaulting to 'en-US'

References:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Re

[2022-04-28 20:36] hawkeye64 opened #376 "Is there a quick way to have Resources as columns & time intervals as rows?"
### Discussed in https://github.com/quasarframework/quasar-ui-qcalendar/discussions/373

<div type='discussions-op-text'>

<sup>Originally posted by **Rusty-sk** April 25, 2022</sup>
Hawkeye, Great product you have here.
Would be running 4.X

![image](https://user-images.githubusercontent.com/35604274/165141348-7d865f9d-e0ab-4c89-a4da-3e684a0ed9d4.png)
</div>

[2022-05-02 08:34] SerhiiKuzmenko opened #377 "QCalendar: Dynamic Interval Height"
**Describe the solution you'd like**
Hello, can you tell me if it is possible to dynamically set the height for each period?

Example: (For week view)
![week-view](https://user-images.githubusercontent.com/4062405/166206641-7cb45f42-2fdb-407d-9bdf-314846af834a.png)

(For  Day view)
![day-view](https://user-images.githubusercontent.com/4062405/166206727-305c9822-25d9-408c-84d1-964cd25ca7fa.png)

[2022-05-04 17:41] SleepingRobot opened #378 "Unable to use QCalendar component extension in Vue3+Vite Quasar CLI app"
**Describe the bug**
Unable to use QCalendar component extension in fresh Vue3+Vite Quasar CLI app

**To Reproduce**
Steps to reproduce the behavior:
1. Generate new v2 App (Vue 3 + JS + Vite) with Quasar CLI
2. Run `quasar ext add @quasar/qcalendar@next`
3. Run `quasar dev`
4. Browser console warning:
[code]
5. Add `<q-calendar />` or `<q-calendar-month />` or `<q-calendar-day />` to IndexPage.vu

[2022-05-08 14:57] hawkeye64 commented on #377
I couldn't tell you right now as I am confusing myself with QCalendarMonth which has this, but I can't remember if QCalendarDay has this without looking at the code. My apologies. I started a new job and have been terribly busy getting integrated with the new position.

[2022-05-08 15:53] hawkeye64 commented on #378
It looks like there is a build bug with the QCalendar component.
For now, until I can figure out how to fix it, do not use the QCalendar wrapper, unless you import it directly from the src folder.
For using other calendar types, create a boot file and import the specific calendar there (including QCalendar).
You may need to set the `transpile` options in your quasar.config.js as well.

For instanc

[2022-05-09 20:28] kevinmelo commented on #378
This happens without vite too.

Installing with `quasar ext add @quasar/qcalendar@next` or `Create and register a boot file` give me the same warning.
And i add the transpile option for the boot file

[2022-05-17 00:34] tartieret commented on #362
@afnan how have you solved this issue? I am getting a similar error for the calendar-day.sass file

[2022-05-29 15:20] engdlee opened #379 "Error in the Page WeekDragAndDrop"
**Description:**
The drag an drop is not working in the WeekDragAndDrop Page Example

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://qcalendar.netlify.app/examples/week-drag-and-drop
2. Drag any of the elements from the list
3. Drop it in the week calendar
4. See error in console:
  `vendor.b3650068.js:1 TypeError: e.printScope is not a function`

**Expected behavior**
Drag and

[2022-05-31 14:26] procosgroup opened #381 "Expose start and end date of the current calendar view"
We would like to have the start and end date of the calendar view be exposed.
Especially in the month view, it's not easy to determine the first day displayed (can belong to a previous month).
The will help us to fetch events for the current view.
I remember that in the previous version the lastStart attribute can be used.

[2022-05-31 14:33] hawkeye64 commented on #379
Thanks for finding this. I am super busy right now. I'll review your PR this weekend (if not before).

[2022-05-31 14:36] hawkeye64 commented on #379
I'll make a release before the weekend. Thanks again. :heart:

[2022-05-31 14:36] #379 closed, assigned to nobody

[2022-05-31 14:43] hawkeye64 commented on #381
Good idea!

[2022-06-08 07:15] artnova-david opened #382 "timestamp is null"
**Describe the bug**
In the migration guide you mention that one can pass null or undefined to the modelValue:

When passing null or undefined the methods prev(), next() and moveToToday() result in this error:
TypeError: can't access property "year", timestamp is null
When today() or the current date as string is passed it works fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Pass null

[2022-06-08 17:46] hawkeye64 commented on #382
Thanks for letting me know this. I have temporarily lost my development environment, but as soon as I am able, I will look into this. In the meantime, an empty string should work.

[2022-06-11 12:31] septatrix opened #383 "School timetable/agenda with time view"
**Is your feature request related to a problem? Please describe.**
I want to show schedules which only depend on the weekday but not on the specific date. The agenda view is insufficient because it does not allow to place events based on time and I have not found a way to make the default QCalendarDay(week) to show abstract weekdays instead of specific dates.

**Describe the solution you'd like**

[2022-06-11 15:36] omarhaya opened #384 "hi how to pick up time and date data to use them to add an event when using @click-time (by clicking inside calendar )?"
hi how to pick up time and date data to use them to add an event when using @click-time (by clicking inside calendar )? I have tried using different variables but couldn't pick them up any idea? also , onChange to pick up the date data when changing the date on the calendar

[2022-06-16 15:07] septatrix opened #385 "`QCalendarDay` slowly grows in width"
Codesandbox to reproduce: https://codesandbox.io/s/affectionate-dhawan-fuu3yr?file=/src/pages/Index.vue

**Describe the bug**
Under some weird conditions the component grows from its initial width to the maximal width permitted by the parent/CSS.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the codesandbox link
2. See the error

**Expected behavior**
The component should have a fixed

[2022-06-16 17:05] septatrix opened #386 "Improved TypeScript support"
**Is your feature request related to a problem? Please describe.**

Currently typescript support only exists for the main `index` file. When importing components directly this feature is lost.

**Describe the solution you'd like**

Each output file should have a matching `.d.ts` file.

**Describe alternatives you've considered**

Alternatively a typescript rewrite might be advantageous, especially

[2022-06-19 15:44] hawkeye64 commented on #385
Yes, I am aware of this. Thanks for the reproduction. I'll look into a way of resolving this when I have some extra time (which is severely limited right now)

[2022-06-19 15:46] hawkeye64 commented on #383
I am not sure I understand. You want to show Monday - Friday, without being date-oriented, but have time slots as well?

[2022-06-19 16:25] septatrix commented on #383
I made a crude draft of how this might look (zapping stuff using devtools). Basically a QCalendarDay without any "day of month" or similar.

![image](https://user-images.githubusercontent.com/24257556/174490426-c25b6d59-5c76-4991-9577-f0ba255ef9c9.png)

I tried hiding it by providing an empty `head-date` slot but than only seems to be useful for appending to the slot and not clearing it. The props

[2022-06-19 16:38] septatrix commented on #385
Have you thought about replacing all the inline styles (width/height) with a grid layout?

In the past I had a case where I could not figure out how to fix a similar problem (probably some annoying floating-points).
After some time I gave up and refactored the styling to use a grid instead which was faster, did not have bugs and looked way more clean :D

[2022-06-21 13:51] vladyslav-mikhieiev commented on #378
Any solutions?

[2022-06-21 14:29] lukepower commented on #378
I do have the same issue. When I use one of the components, i.e. Q-day, it works, but it won't with Q-Calendar...

`Failed to resolve component: q-calendar
If this is a native custom element, make sure to exclude it from component resolution via compilerOptions.isCustomElement.`

[2022-06-25 10:41] AlaaDq opened #387 "i am able to select disabled day in range selection mode"
the issue happened on the docs example

![image](https://user-images.githubusercontent.com/45366622/175770081-3922587b-a735-4d17-9f62-31936f2d14f8.png)

[2022-06-26 01:12] LRT-stack opened #388 "SyntaxError: Cannot use import statement outside a module"
import QCalendar from './components/QCalendar.js'
^^^^^^

SyntaxError: Cannot use import statement outside a module
[90m    at Object.compileFunction (node:vm:352:18)[39m
[90m    at wrapSafe (node:internal/modules/cjs/loader:1033:15)[39m
[90m    at Module._compile (node:internal/modules/cjs/loader:1069:27)[39m

[2022-06-26 01:46] #388 closed, assigned to nobody

[2022-06-30 18:48] hawkeye64 commented on #385
I have thought about this. There is lots of work to be done, but I am plagued with back issues again and can barely sit in a chair.

[2022-06-30 18:51] hawkeye64 commented on #383
That looks interesting. Thought will have to be given to accomplish this. For instance, normally an event is emitted with prev/next and then each part of the calendar has a slot that can be filled in by date (and some by time). Trying to wrap my head around how prev/next would work or if it is viable.

[2022-07-07 09:10] JayNaire opened #389 "getMonthNames returns incorrect array after midnight"
**Describe the bug**
quasar vite CLI
q-calendar-month:
in calendarChanged event handler:
getMonthNames(...) should return say ["Jan","Feb","Mar","**Apr**","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]
which it normally does.
But _sometimes_ it returns (say):
 ["Jan","Feb","**Mar**","**Mar**","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]
or maybe:
 ["Jan","Feb","Mar","Apr","May","Jun","Jul","

[2022-07-07 20:44] Karnith commented on #378
I believe I have found the issue. the register file points to @quasar/quasar-ui-qcalendar/dist/types/index which has no default export or function to register. When I modified it to import VuePlugin from '@quasar/quasar-ui-qcalendar/dist/index.umd' the registration completes, components seem to work as expected without importing them into the vue template and the console warning [Vue warn]: A plug

[2022-07-07 22:58] Karnith commented on #378
Looking at the index.esm.js I see there is an install function, though it it part of the index variable object which is then brought into the Plugin object as 'default': index. Quasar registry seem to want the install function at the root of the object, so it is unable to find it. If index.esm.js is to be used for the module attribute in package.json, adding 'install': index.install to the Plugin

[2022-07-11 12:22] JohnyDyxt opened #391 "<Script setup> impossible to switch between dates"
Hello team,

I can't reproduce it on codepen so i will try to be as clear as possible.

I'm under Vue 3.2 with composition api <script setup>.
The problem is that it's absolutely impossible to switch between date (prev, today and next).

When i click on a button, i see in the console that something happen but nothing really happen on the calendar.

Below my code :

<div class="row justify-center q

[2022-07-12 06:05] Bruno17 commented on #391
Doesn't it has to be

[code]

same with next() and moveToToday() ?

[2022-07-13 05:30] JohnyDyxt commented on #391
Hi and thank you for your answer,

If i add () at the end, the behavior is exactly the same. Nothing happened.
If i console.log it , the console will display UNDEFINED.

If i console.log(calendar.value.prev) => I see the function but nothing happened.

[2022-07-19 14:20] mshems opened #392 "Automatic Column Widths for Resource Intervals"
Using QCalendar 4.0-beta, there is currently no way for the resource calendar to automatically size the interval columns to fit. As of now, one can only set a static pixel width for the columns.

[2022-08-24 14:16] IlCallo commented on #217
I'm playing a bit with QCalendarScheduler, given there's [this example](https://qcalendar.netlify.app/examples/scheduler-slot-resource-days) it seems this issue has been resolved

[2022-09-05 04:20] adgower commented on #391
I have the same issue. Nothing happens.
[code]
[code]

[2022-09-05 14:54] adgower commented on #391
I believe I found the solution, and I may have missed it in the documentation, but in order for the prev/next to work you need to set a v-model for the calendar with a date selected:
[code]
You don't need to import today, but you need to set selectedDate as a valid formatted date according to docs, and then the prev next works.

[2022-09-06 07:41] seifoueddine opened #395 "inable to combine two features ( Children + Style )"
I use q-calendar and I use some style and condition to display resource label like this

`	<template
						#scheduler-resource="{ resource }"
						v-if="view === 'true'"

						<div
							class="q-calendar-scheduler__resource-text"
							v-bind:class="{
								team: resource.label.startsWith('TEAM '),
							}"

							{{ resource.label }}
						</div>
					</template>  `

it works , but when

[2022-09-28 16:32] ldurans opened #396 "Problem with start time to interval (interval-start x interval-minutes)"
For a legitimate bug, in order to process faster, please go here https://codepen.io/Hawkeye64/pen/RwwwKQL, fork the codepen, add code to reproduce the bug and submit link here (don't forget to save your codepen):

**Describe the bug**
By setting interval-minutes the calendar loses the interval-start ability.

**To Reproduce**
Steps to reproduce the behavior:
1. https://codepen.io/ldurans/pen/jOxZG

[2022-09-29 11:00] talkonadmin opened #397 "Unable to use more than 1 instance of calendar with mouse event handlers on the same page"
I am initiating several calendar instances (QCalendarDay and QCalendarAgenda) on different components.
It seems that mouse event handlers defined in 1 component overrun those of the others, making this usage scenario not usable.
I debugged this issue and examined the code and noticed that useMouse composable included a global $listeners variable that is getting overrun by each initiation of a cale

[2022-10-03 12:27] mfcarneiro commented on #397
Hey! I'm facing the same problem for months.

Any tips on how you have disabled? I have two instances of the `QCalendarDay` that I need to work with (the main calendar and the filter)

Whenever the filter containing the `QCalendarDay`, in `mini-mode` opens, the click-time just died and I need to reload or change the current route, to have the events available again on my main Calendar component

[2022-10-03 12:33] talkonadmin commented on #397
In my case I needed only 1 calendar at a time so I used v-if condition to render only 1 (before it was using css display). it will not work in your case since you need both at the same time.

[2022-10-03 12:45] mfcarneiro commented on #397
yea, since then I've discovered this issue, I'm trying to figure out how to get both working together

![image](https://user-images.githubusercontent.com/13247083/193580925-5a1839ab-94c8-4d2d-9d97-e4237e08b6b9.png)
(after opening my filter (QCalendar), inside of a QDialog, closing and selecting another time in the main Calendar component)

[2022-10-03 12:55] talkonadmin commented on #397
I would use a different component for the filter e.g qdate

[2022-10-24 06:22] amersarosong commented on #378
any solution?

[2022-10-24 08:31] codingstuff91 opened #398 "Time2 event is not disabled if i click on an event badge"
**Describe the bug**
The "time2" event is fired even if there is an event badge displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codepen.io/codingstuff2812/pen/OJELvYX
2. Click on the event i have created
3. Go to the console and see that the time event is fired even if there is a badge on the time period

**Expected behavior**
I dont want the "time2" event listener t

[2022-10-24 10:55] ikerib opened #399 "Year view"
Is a Year view in your roadmap?
Actually we use https://year-calendar.github.io/v-year-calendar/examples for our employee holidays etc... now we are rebuilding it using vue3 + quassar so I wnat to know if there will be this kind or view.

thanks!

[2022-10-26 15:28] codingstuff91 commented on #398
Hello,

I finally found the solution of my problem.
I just have to add the .stop event modifier to the click event of my event badge to disable the "time2" event

[2022-10-26 15:28] #398 closed, assigned to nobody

[2022-10-27 10:58] mirkofisic opened #400 "Quasar 2.10.0 vite project ES Module problem"
**Describe the bug**
I use quasar version 2.10.0 vite, I tried to implement quasar calendar 4.0.0 beta-15 version but when I added the extension and installed the calendar according to the instructions, I get the following error when starting the application.

[code]

I tried to add "type": "module" to package.json, but then I can't start quasar application again because everything is not done as

[2022-11-07 18:18] carlosarmentac opened #401 "Slots for Cells in Monthly view"
**Slots for Cells in Monthly view**
Actually im using fullcalendar, I hope to migrate to [quasar-ui-qcalendar](https://github.com/quasarframework/quasar-ui-qcalendar).
My requests are so simple:
1. Divide the day Cell in three sections, Title, Body and Footer and make Slots for each one.
2. Permit to change Background Color of entire Cell using an All Day event.

This is what im trying to reproduc